<template>
  <v-dialog
    :value="value"
    :width="width"
    :persistent="persistent"
    :transition="transition"
    :content-class="contentClass || ''"
    :retain-focus="retainFocus"
    @click:outside="clickOutside()"
  >
    <v-card class="c-dialog-card">
      <v-card-title
        v-if="!hideTitle"
        class="title"
        primary-title
      >
        <template v-if="hasTitleSlot">
          <slot name="title" />
        </template>
        <template v-else>
          <div class="content-title">{{ title || '' }}</div>
        </template>
      </v-card-title>

      <v-card-text class="pt-4">
        <slot name="content" />
      </v-card-text>

      <v-card-actions v-if="hasActionsSlot">
        <slot name="actions" />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'CDialog',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    persistent: {
      type: Boolean,
      default: true
    },
    contentClass: {
      type: [String, Array, Object],
      default: ''
    },
    width: {
      type: [Number, String],
      default: 600
    },
    hideTitle: {
      type: Boolean,
      default: false
    },
    retainFocus: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      transition: 'dialog-transition'
    }
  },
  computed: {
    hasTitleSlot () {
      return !!this.$slots.title
    },
    hasActionsSlot () {
      return !!this.$slots.actions
    }
  },
  mounted () {
    if (this.$vuetify.breakpoint.smAndDown) {
      this.transition = false
    }
  },
  methods: {
    close () {
      this.$emit('close', false)
    },
    clickOutside () {
      if (!this.persistent) {
        this.close()
      }
    }
  }
}
</script>
<style lang="sass">
@import '../../assets/style/theme'

.c-dialog-card
  .v-card__actions
    border-top: 1px solid #cccccc
    padding: 15px 20px
  .v-card__title
    border-bottom: 1px solid #cccccc
    padding: 17px 17px 13px 17px !important

.dialog-type-danger
  .v-card__title
    background-color: $color-danger
    color: #fff
.dialog-type-warning
  .v-card__title
    background-color: $color-warning
    color: #fff
.dialog-type-info
  .v-card__title
    background-color: $color-info
    color: #fff
</style>
