<template>
  <v-tooltip bottom color="rgba(24,24,24)" v-bind="otherProps">
    <template v-slot:activator="{ on }">
      <slot v-bind="{ on }" name="activator" />
    </template>
    <slot />
  </v-tooltip>
</template>

<script>
export default {
  name: 'CTooltip',
  props: {
    wordWrap: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    otherProps () {
      if (this.wordWrap) {
        return {
          'max-width': '300px',
          'content-class': 'tooltip-word-wrap'
        }
      }
      return {}
    }
  }
}
</script>
