<template>
  <div class="dialog-notificaion">
    <v-dialog
      width="500"
      :value="!!messageDialogNotification"
      :persistent="false"
      :closable="false"
      @close="resetDialogMessage"
    >
      <v-card>
        <v-card-title class="bg-red white--text headline">
          <div>Error</div>
          <v-spacer />
          <v-icon class="font-weight-bold" @click="resetDialogMessage">mdi-close</v-icon>
        </v-card-title>
        <v-card-text>
          <div class="mt-2 pa-4">{{ messageDialogNotification }}</div>
          <p v-if="descDialogNotification" class="text-center">{{ descDialogNotification }}</p>
        </v-card-text>
        <v-card-actions class="border-top pa-3">
          <v-spacer />
          <v-btn class="btn--red" @click="resetDialogMessage">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters('notificationDialogStore', [
      'messageDialogNotification',
      'descDialogNotification'
    ])
  },
  methods: {
    ...mapActions('notificationDialogStore', [
      'resetDialogMessage'
    ])
  }
}
</script>
