<template>
  <v-snackbar
    v-model="snackbar"
    :color="color"
    :timeout="timeout"
    :top="top"
    :right="right"
    :bottom="bottom"
    :left="left"
  >
    <span class="body-1">{{ text }}</span>
    <v-btn text @click="closeSnackbar()">Close</v-btn>
  </v-snackbar>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Notification',
  data () {
    return {
      snackbar: false
    }
  },
  computed: {
    ...mapGetters('notificationStore', [
      'isShowing',
      'color',
      'timeout',
      'text',
      'top',
      'left',
      'right',
      'bottom'
    ])
  },
  watch: {
    snackbar (newVal) {
      if (!newVal) {
        this.closeNotification()
      }
    },
    isShowing (newVal) {
      this.snackbar = newVal
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'closeNotification'
    ]),
    closeSnackbar () {
      this.closeNotification()
    }
  }
}
</script>
