<template>
  <div>
    <template v-if="walletNotFound">
      <div class="text-center">
        <span>Wallet<b>{{ walletNotFound }}</b>not found</span>
      </div>
    </template>
    <template v-else>
      <div class="mb-10 d-md-flex justify-space-between align-end">
        <div>
          <h1 class="font-weight-normal color--gray-dark">{{ wallet.name }}: {{ walletInfo.balance | mcash }}</h1>
          <div class="py-1 text--gray-light font-weight-bold text-overflow">
            <span>{{ wallet.address }}</span>
          </div>
        </div>

        <div>
          <!--<v-btn class="btn&#45;&#45;green" tile depressed @click="showSafeMigrationModal">-->
          <!--Safe Vault Migration-->
          <!--</v-btn>-->
        </div>
      </div>

      <owners-panel />
      <tokens-panel />
      <multisig-transactions-panel />

      <!--<dialog-safe-multisig-migration-->
      <!--:value="dialogSafeMultisigMigration"-->
      <!--@close="closeSafeMigrationModal"-->
      <!--/>-->
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { copyToClipboard, shortAddress } from '../../utils/helper'
import OwnersPanel from '../../components/wallet/OwnersPanel'
import TokensPanel from '../../components/wallet/TokensPanel'
// import DialogSafeMultisigMigration from '../../components/wallet/DialogSafeMultisigMigration'
import MultisigTransactionsPanel from '../../components/wallet/MultisigTransactionsPanel'
import Wallet from '../../services/Wallet'
import McashWebService from '../../services/McashWebService'

export default {
  components: {
    // DialogSafeMultisigMigration,
    MultisigTransactionsPanel,
    TokensPanel,
    OwnersPanel
  },
  data () {
    return {
      dialogSafeMultisigMigration: false,
      walletCopy: null,
      walletNotFound: null,
      showTxs: 'all',
      interval: null
    }
  },
  computed: {
    ...mapGetters('walletStore', [
      'updates'
    ]),
    ...mapGetters('walletDetailStore', [
      'wallet',
      'walletInfo',
      'userTokens',
      'showPending',
      'showExecuted'
    ]),
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    }
  },
  watch: {
    updates () {
      this.loadUpdates()
    }
  },
  async mounted () {
    const { address } = this.$route.params
    this.walletCopy = Wallet.getAllWallets()[McashWebService.toChecksumAddress(address)]
    if (!this.walletCopy) {
      this.walletNotFound = address
      return
    }
    this.loadUpdates()
    if (!Wallet.coinbase) {
      await McashWebService.enableMcashWallet().catch(() => {})
      this.startup()
    }
  },
  beforeDestroy () {
    if (this.interval) {
      clearInterval(this.interval)
    }
  },
  methods: {
    shortAddress,
    copyToClipboard,
    ...mapActions('walletDetailStore', [
      'onSetWallet',
      'onUpdateUserTokenById',
      'toggleShowPending',
      'toggleShowExecuted',
      'updateParamsWalletDetail'
    ]),
    closeSafeMigrationModal () {
      this.dialogSafeMultisigMigration = false
    },
    showSafeMigrationModal () {
      this.dialogSafeMultisigMigration = true
    },
    loadUpdates () {
      if (this.walletCopy) {
        const tokenAddresses = Object.keys(this.walletCopy.tokens)
        // The token collection is updated by the controller and the service, so must be merged.
        tokenAddresses.map((item) => {
          // Initialize, user token balance
          if (!this.userTokens[item]) {
            this.onUpdateUserTokenById({ id: item, value: {} })
          }
          // Assign token to user tokens collection
          this.onUpdateUserTokenById({ id: item, value: this.walletCopy.tokens[item] })

          // If token has a previous balance, copy it
          if (this.wallet.tokens && this.wallet.tokens[item] && this.walletCopy.tokens && this.walletCopy.tokens[item]) {
            this.walletCopy.tokens[item].balance = this.wallet.tokens[item].balance
          }
        })

        Object.assign(this.walletCopy, this.wallet)
        this.onSetWallet(this.walletCopy)
      }
    },
    startup () {
      Wallet.initParams()
        .then(() => {
          this.updateParams()
          this.interval = setInterval(this.updateParams, 15000)

          // Handle migration modal
          if (!this.walletCopy.safeMigrated) {
            this.showSafeMigrationModal()
          }
        })
    },
    updateParams () {
      this.toggleShowExecuted(true)
      this.toggleShowPending(true)

      if (this.showTxs === 'pending') {
        this.toggleShowExecuted(false)
      } else if (this.showTxs === 'executed') {
        this.toggleShowPending(false)
      }
      this.updateParamsWalletDetail()
    }
  }
}
</script>

<style lang="sass">
.panel-expand
  margin-bottom: 24px
  &__head
    display: flex
    justify-content: space-between
    padding: 12px 16px
  &__actions
    display: flex
  &__title
    font-weight: 700
    font-size: 20px !important
    line-height: 37px !important
    color: #3769BE
    letter-spacing: 0.0125em
.select-filter,.select-page
  font-size: 14px
  font-weight: bold
  letter-spacing: 0.0225em
  width: 130px
  .v-input__slot
    padding: 8px 12px
.select-page
  width: 90px
</style>
