<template>
  <div class="remove-all-transactions">
    <c-dialog
      :value="value"
      title="Remove all transactions"
      :persistent="false"
      content-class="dialog-type-danger"
      @close="closeDialog"
    >
      <template v-slot:content>
        <span class="body-1">Are you sure?</span>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleRemoveAll">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import Transaction from '../../services/Transaction'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    handleRemoveAll () {
      Transaction.removeAll()
      this.closeDialog()
    }
  }
}
</script>
