<template>
  <div class="send-transaction">
    <c-dialog
      :width="700"
      :value="value"
      title="Send transaction"
      :persistent="false"
      content-class="dialog-send-transaction"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="send-transaction-input-destination" class="label-custom">Destination</label>
            <v-btn small depressed icon @click="openDialogBrowseAddressBook"><v-icon>mdi-book-search</v-icon></v-btn>
            <v-text-field
              id="send-transaction-input-destination"
              v-model="address" solo
              flat outlined
              dense
            />
          </div>
          <div class="my-input">
            <label for="send-transaction-input-contract" class="label-custom">Contract name (optional)</label>
            <v-text-field
              id="send-transaction-input-contract"
              solo flat
              outlined dense
            />
          </div>
          <div class="my-input">
            <label for="send-transaction-input-amount" class="label-custom">Amount (MCASH)</label>
            <v-text-field
              id="send-transaction-input-amount"
              solo flat
              outlined dense
            />
          </div>
          <div class="mb-4 my-input">
            <label for="send-transaction-input-abi" class="label-custom">ABI string</label>
            <v-text-field
              id="send-transaction-input-abi"
              solo flat
              outlined dense
            />
          </div>
          <v-select
            solo flat
            background-color="#D7E1F2"
            label="Method"
          />
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <div class="text-right">
          <v-btn class="btn--red btn-wrap" @click="closeDialog">Cancel</v-btn><!--
       --><v-btn class="btn--blue btn-wrap ml-2" @click="handleSimulateTransaction">Simulate transaction</v-btn><!--
       --><v-btn class="btn--blue btn-wrap ml-2 my-2" @click="handleSendTransaction">Send transaction</v-btn>
        </div>
      </template>
    </c-dialog>
    <DialogBrowseAddressBook :value="dialogBrowseAddressBook" @select-address="onSelectAddress" @close="closeDialogBrowseAddressBook" />
  </div>
</template>

<script>
import DialogBrowseAddressBook from '../../components/BrowseAddressBook'

export default {
  components: { DialogBrowseAddressBook },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogBrowseAddressBook: null,
      address: null
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    handleSimulateTransaction () {
      this.closeDialog()
    },
    handleSendTransaction () {
      this.closeDialog()
    },
    closeDialogBrowseAddressBook () {
      this.dialogBrowseAddressBook = false
    },
    openDialogBrowseAddressBook () {
      this.dialogBrowseAddressBook = true
    },
    onSelectAddress (itemAddress) {
      this.address = itemAddress.address
      console.log(itemAddress)
    }
  }
}
</script>
<style lang="sass">
.dialog-send-transaction
  .btn-wrap
    height: 50px !important
    @media screen and (min-width: 610px)
      height: 36px !important
    .v-btn__content
      line-height: 14px
      white-space: normal
      display: inline-block
      max-width: 75px !important
      font-size: 12px
      @media screen and (min-width: 430px)
        max-width: 87px !important
        font-size: 14px
      @media screen and (min-width: 610px)
        white-space: nowrap
        max-width: -webkit-fill-available !important
</style>
