<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Edit ABI"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="edit-abi-input-contract" class="label-custom">Contract name</label>
            <v-text-field
              id="edit-abi-input-contract"
              v-model="name"
              outlined
              dense
            />
          </div>
          <div class="mb-4">
            <label for="edit-abi-input-abi" class="label-custom">ABI</label>
            <v-textarea id="edit-abi-input-abi" v-model="abi" background-color="#D7E1F2" />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleEditABI">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import ABI from '../../services/ABI'
import Transaction from '../../services/Transaction'
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    transactionId: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      abi: null,
      name: null
    }
  },
  mounted () {
    const abis = ABI.get()
    console.log(abis)
    if (abis[this.transactionId]) {
      const abiObject = abis[this.transactionId]
      this.abi = JSON.stringify(abiObject.abi)
      this.name = abiObject.name
    } else {
      this.abi = ''
      this.name = ''
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'showErrorNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    handleEditABI () {
      let executeChanges = true
      let remove = false
      let parsedABI

      try {
        if (this.abi !== undefined && this.abi.length > 0) {
          parsedABI = JSON.parse(this.abi)
        } else {
          remove = true
        }
      } catch (e) {
        this.showErrorNotification(e)
        executeChanges = false
      }

      if (executeChanges) {
        if (remove) {
          if (this.name) {
            ABI.update(undefined, this.transactionId, this.name)
          } else {
            ABI.remove(this.transactionId)
          }
        } else {
          ABI.update(parsedABI, this.transactionId, this.name)
        }
        this.closeDialog()
        Transaction.notifyObservers()
      }
    }
  }
}
</script>
