<template>
  <div class="get-nonce">
    <c-dialog
      :value="value"
      title="Get nonce"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="get-nonce" class="label-custom">Address</label>
            <v-text-field
              id="get-nonce-input-address"
              solo flat
              outlined dense
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleGetNonce">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    handleGetNonce () {
      this.closeDialog()
    }
  }
}
</script>
