<template>
  <div class="send-sign-transaction">
    <c-dialog
      :value="value"
      title="Send sign transaction"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <label class="body-1 font-weight-bold text--gray-dark">Signed transaction</label>
        <v-textarea background-color="#D7E1F2" />
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleSendSignTransaction">Send</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    handleSendSignTransaction () {
      this.closeDialog()
    }
  }
}
</script>
