<template>
  <v-app>
    <toolbar />
    <v-content class="bg-app">
      <div class="app-container">
        <nuxt style="oveflow: hidden" />
      </div>
    </v-content>
    <v-footer app color="#3769BE">
      <div class="text-center mx-auto text--gray-light-1">
        <span>Please read our full</span>
        <nuxt-link to="/" class="white--text font-weight-medium">Privacy policy</nuxt-link>
        <span>and</span>
        <nuxt-link to="/" class="white--text font-weight-medium">Term of Use</nuxt-link>
        <span>-</span>
        <nuxt-link to="/" class="white--text font-weight-medium">Imprint</nuxt-link>
      </div>
    </v-footer>
    <!--  -->
    <dialog-notification />
    <mcash-required />
    <notification />
  </v-app>
</template>

<script>
import { mapActions } from 'vuex'
import Toolbar from '../components/Toobar'
import Notification from '../components/common/Notification'
import DialogNotification from '../components/common/DialogNotification'
import McashRequired from '../components/McashRequired'
import Wallet from '../services/Wallet'
import Transaction from '../services/Transaction'
import McashWebService from '../services/McashWebService'

export default {
  components: {
    Toolbar,
    DialogNotification,
    McashRequired,
    Notification
  },
  created () {
    Wallet.initStore(this.$store)
    Transaction.initStore(this.$store)
    McashWebService.initStore(this.$store)
  },
  methods: {
    ...mapActions([
      'changeTabByValue'
    ])
  }
}
</script>

<style lang="sass">
@import '../assets/style/theme'

.v-footer
  @media screen and ( max-width: 470px )
    font-size: 12px
.app-container
  max-width: 1300px
  margin: 48px auto 15px
  padding: 0 20px
  @media screen and ( min-width: $mobile-max-width )
    margin: 60px auto 15px
</style>
