<template>
  <v-container>
    <v-layout justify-center align-center style="height: 100vh;">
      <v-flex>
        <div class="text-center">
          <div v-if="error.statusCode === 404" class="error-block">
            <h1 class="error-code">404</h1>
            <h2 class="error-title">Page not found</h2>
            <p>
              {{ `Sorry, we couldn't find the page you were looking for.` }}
              <br>
              {{ 'We suggest that you return to main sections.' }}
            </p>
          </div>
          <div v-else class="error-block">
            <h1 class="error-title">An error occurred</h1>
          </div>
          <v-btn color="warning" nuxt to="/" class="font-weight-bold">Go to the Home page</v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  layout: 'blank',
  props: {
    error: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="sass" scoped>
.error-block
  margin-bottom: 4rem
h1.error-code
  font-size: 13rem
  line-height: 1.1
  text-shadow: 6px 5px rgba(153, 153, 153, 0.5)
  letter-spacing: 16px
.error-title
  font-size: 3rem
  margin-bottom: 2rem
</style>
