<template>
  <div class="edit-daily-limit">
    <c-dialog
      :value="value"
      title="Change daily limit"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="edit-daily-input-limit" class="label-custom">Daily limit (MCASH)</label>
            <v-text-field
              id="edit-daily-input-limit"
              solo flat outlined
              dense
              :value="wallet.limit"
              @input="onChangeDailyLimit"
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn v-show-hide-by-connectivity="'offline'" class="btn--blue" :disabled="!dailyLimitEdit" @click="sign">Sign offline</v-btn>
        <v-btn v-show-hide-by-connectivity="'online'" class="btn--blue" :disabled="!dailyLimitEdit || loading" @click="setLimit">
          <v-progress-circular
            v-show="loading"
            indeterminate
            size="22"
          />
          &nbsp;Send multisig transaction
        </v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Wallet from '../../services/Wallet'
import Transaction from '../../services/Transaction'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    wallet: {
      type: [Object, Array],
      required: true
    }
  },
  data () {
    return {
      dailyLimitEdit: null,
      loading: null
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'showErrorNotification',
      'showSuccessNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    handeEditDailyLimit () {
      this.closeDialog()
    },
    onChangeDailyLimit (val) {
      this.dailyLimitEdit = val
    },
    sign () {
      // Wallet.signLimit($scope.address, new Web3().toBigNumber($scope.limit).mul('1e18'), function (e, tx) {
      //   if (e) {
      //     Utils.dangerAlert(e)
      //   }
      //   else {
      //     $uibModalInstance.close()
      //     Utils.signed(tx)
      //   }
      // })
    },
    setLimit () {
      this.loading = true
      Wallet.updateLimit(this.wallet.address, this.dailyLimitEdit, { onlySimulate: false })
        .then((txId) => {
          this.closeDialog()
          this.showSuccessNotification('Update daily limit transaction was sent.')
          Transaction.add({ txId,
            callback: () => {
              this.showSuccessNotification('Update daily limit transaction was mined.')
            } })
        })
        .catch((e) => {
          this.showErrorNotification(e)
        })
        .finally(() => { this.loading = false })
    }
  }
}
</script>
