<template>
  <div class="add-wallet">
    <c-dialog
      :value="value"
      title="Add wallet"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-radio-group v-model="selectedAction">
          <v-radio
            v-for="action in selectActions"
            :key="action.value"
            :value="action.value"
          >
            <template v-slot:label>
              <div class="font-weight-bold">{{ action.text }}</div>
            </template>
          </v-radio>
        </v-radio-group>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleAction()">Next</v-btn>
      </template>
    </c-dialog>
    <dialog-create-wallet :value="dialogCreateWallet" @close="closeDialogCreateWallet" />
  </div>
</template>

<script>
import DialogCreateWallet from './DialogCreateWallet'
import { mapActions } from 'vuex'

export default {
  components: { DialogCreateWallet },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogCreateWallet: false,
      selectedAction: 'create',
      selectActions: [
        { value: 'create', text: 'Create new wallet' },
        { value: 'restore', text: 'Restore deployed wallet' }
      ]
    }
  },
  methods: {
    ...mapActions([
      'setDialogRestoreWallet'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    handleAction () {
      this.closeDialog()
      if (this.selectedAction === 'create') {
        this.openDialogCreateWallet()
      } else {
        this.openDialogRestoreWallet()
      }
    },
    openDialogCreateWallet () {
      this.dialogCreateWallet = true
    },
    openDialogRestoreWallet () {
      this.setDialogRestoreWallet(true)
    },
    closeDialogCreateWallet () {
      this.dialogCreateWallet = false
    },
    closeDialogRestoreWallet () {
      this.setDialogRestoreWallet(false)
    }
  }
}
</script>
