<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Edit Wallet"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="input-edit-wallet-name" class="label-custom">Name</label>
            <v-text-field
              id="ainput-edit-wallet-name"
              outlined dense
              :rules="[rules.required, rules.counter]"
              :value="wallet.name"
              @input="onEditName"
            />
          </div>
          <div class="mb-4 my-input">
            <label for="input-edit-wallet-ddress" class="label-custom">Address</label>
            <v-text-field
              id="input-edit-wallet-address"
              outlined dense
              :value="wallet.address"
              disabled
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" :disabled="!inputRequired" @click="handleEditWallet">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import Wallet from '../../services/Wallet'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    wallet: {
      type: [Object, Array],
      required: true
    }
  },
  data () {
    return {
      nameEdit: null,
      rules: {
        required: value => !!value || 'Name is Required.',
        counter: value => (!!value && value.length <= 20) || 'Name must be less than or equal 20 characters.'
      },
      inputRequired: null
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    onEditName (val) {
      this.nameEdit = val
      this.inputRequired = this.$refs.form.validate()
    },
    handleEditWallet () {
      Wallet.update(this.wallet.address, this.nameEdit)
      this.closeDialog()
    }
  }
}
</script>
