<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Remove wallet"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="input-remove-wallet-name" class="label-custom">Name</label>
            <v-text-field
              id="input-remove-wallet-name"
              :value="wallet.name"
              outlined
              dense disabled
            />
          </div>
          <div class="my-input">
            <label for="input-remove-wallet-ddress" class="label-custom">Address</label>
            <v-text-field
              id="input-remove-wallet-ddress"
              outlined
              dense disabled required
              :value="wallet.address"
            />
          </div>
          <div class="mb-4 my-input">
            <label for="add-address-input-address" class="label-custom">Enter wallet name for confirmation</label>
            <v-text-field
              id="add-address-input-address"
              v-model="confirmWalletName"
              outlined dense required
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn :disabled="!allowRemove" class="btn--blue" @click="clickOK">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Wallet from '../../services/Wallet'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    wallet: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    confirmWalletName: ''
  }),
  computed: {
    allowRemove () {
      return this.wallet.address && this.confirmWalletName === this.wallet.name
    }
  },
  methods: {
    ...mapActions('walletStore', [
      'onUpdateWallets',
      'updateParamsWallets'
    ]),
    ...mapActions('notificationStore', [
      'showSuccessNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    clickOK () {
      if (this.allowRemove) {
        Wallet.removeWallet(this.wallet.address)
        const wallets = Wallet.getAllWallets()
        this.onUpdateWallets(wallets)
        this.closeDialog()
        this.showSuccessNotification('The wallet was removed successfully.')
        this.updateParamsWallets()
      }
    }
  }
}
</script>
