<template>
  <div class="restore-wallet">
    <c-dialog
      :value="value"
      title="Restore deployed wallet "
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="restore-wallet-input-name" class="label-custom">Name</label>
            <v-text-field
              id="restore-wallet-input-name"
              v-model="info.name"
              solo flat
              outlined dense
              hide-details
            />
          </div>
          <div class="mb-4 my-input">
            <label for="restore-wallet-input-address" class="label-custom">Address</label>
            <v-text-field
              id="restore-wallet-input-address"
              v-model="info.address"
              solo flat
              outlined dense
              hide-details
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" :disabled="!info.name || !info.address" @click="handleRestoreWallet">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import McashWebService from '../../services/McashWebService'
import Wallet from '../../services/Wallet'
import { mapActions } from 'vuex'
import Token from '../../services/Token'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      info: {
        name: 'account test',
        address: 'MK3DhXkodNrdUZ23AoA27YsXGR34YB347s'
      }
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'showErrorNotification'
    ]),
    ...mapActions('walletStore', [
      'updateParamsWallets'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    handleRestoreWallet () {
      this.address = McashWebService.toChecksumAddress(this.address)

      Wallet.restore(this.info)
        .then(() => {
          // Add default tokens to wallet
          Token.setDefaultTokens(this.info.address)
          // Load wallet's info immediately
          this.updateParamsWallets()
          // Close modal
          this.closeDialog()
        })
        .catch((error) => {
          this.showErrorNotification(error)
        })
    }
  }
}
</script>
