<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Change required confirmations"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="input-required-confirmations" class="label-custom">Required confirmations</label>
            <v-text-field
              id="input-required-confirmations"
              solo flat outlined dense
              :value="wallet.confirmations"
              @input="onEditRequired"
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn v-show-hide-by-connectivity="'offline'" class="btn--blue" :disabled="!requiredEdit" @click="signOffline">Sign offline</v-btn>
        <v-btn v-show-hide-by-connectivity="'online'" class="btn--blue" :disabled="!requiredEdit || loading" @click="updated">
          <v-progress-circular
            v-show="loading"
            indeterminate
            size="22"
          />
          &nbsp;Send multisig transaction
        </v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Wallet from '../../services/Wallet'
import Transaction from '../../services/Transaction'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    wallet: {
      type: [Object, Array],
      required: true
    }
  },
  data () {
    return {
      requiredEdit: null,
      loading: null
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'showErrorNotification',
      'showSuccessNotification'
    ]),
    closeDialog () {
      this.$emit('close', this.wallet)
    },
    onEditRequired (value) {
      this.requiredEdit = value
    },
    signOffline () {

    },
    updated () {
      this.loading = true
      Wallet.updateRequired(this.wallet.address, this.requiredEdit, { onlySimulate: false })
        .then((txId) => {
          this.closeDialog()
          this.showSuccessNotification('Update required confirmations transaction was sent.')
          Transaction.add({ txId,
            callback: () => {
              this.showSuccessNotification('Update required confirmations transaction was mined.')
            } })
        })
        .catch((error) => {
          this.showErrorNotification(error)
        })
        .finally(() => { this.loading = false })
    }
  }
}
</script>
