<template>
  <div class="create-wallet">
    <c-dialog
      :width="900"
      :value="value"
      title="Deploy new wallet"
      content-class="dialog-create-wallet"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="create-wallet-input-name" class="label-custom">Name</label>
            <v-text-field
              id="create-wallet-input-name"
              v-model="name"
              solo flat outlined dense required
              hide-details="auto"
              :rules="[v => !!v || 'Name is required']"
            />
          </div>
          <div class="my-input">
            <label for="create-wallet-required-confirmations" class="label-custom">Required confirmations</label>
            <v-text-field
              id="create-wallet-required-confirmations"
              v-model="confirmations"
              solo flat outlined dense
              type="number"
              min="0"
              hide-details="auto"
              :rules="confirmationsRules"
            />
          </div>
          <div class="my-input">
            <label for="create-wallet-daily-limit" class="label-custom">Daily limit (MCASH)</label>
            <v-text-field
              id="create-wallet-daily-limit"
              v-model="limit"
              solo flat outlined dense
              type="number"
              min="0"
              hide-details="auto"
              :rules="limitRules"
            />
          </div>
          <div class="border-top">
            <v-simple-table>
              <template>
                <thead>
                  <tr>
                    <th class="text-left">Name</th>
                    <th class="text-left">Address</th>
                    <th class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in Object.values(owners)" :key="item.name">
                    <td>{{ item.name }}</td>
                    <td>{{ shortAddress(item.address) }}</td>
                    <td class="text-right"><v-btn class="btn--red" @click="removeOwner(item.address)">Remove</v-btn></td>
                  </tr>
                  <tr v-if="!isMobile">
                    <td>
                      <v-text-field
                        v-model="newOwner.name"
                        placeholder="Name"
                        solo flat
                        outlined dense
                        hide-details
                        background-color="#D7E1F2"
                      />
                    </td>
                    <td>
                      <v-text-field
                        v-model="newOwner.address"
                        placeholder="Address"
                        solo flat
                        outlined dense
                        hide-details
                        background-color="#D7E1F2"
                      />
                    </td>
                    <td class="text-right">
                      <v-btn :disabled="!newOwner.address" class="btn--blue" @click="addOwner">Add</v-btn>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <div v-if="isMobile" class="input-add-address-mobile">
              <v-text-field
                v-model="newOwner.name"
                placeholder="Name"
                solo flat outlined dense hide-details
                background-color="#D7E1F2"
                class="my-2"
              />
              <v-text-field
                v-model="newOwner.address"
                placeholder="Address"
                solo flat outlined dense hide-details
                background-color="#D7E1F2"
                class="my-2"
              />
              <v-btn block :disabled="!newOwner.address" class="btn--blue my-2" @click="addOwner">Add</v-btn>
            </div>
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="cancel()">Cancel</v-btn>
        <!-- TODO: show-hide-by-factory-status: Deploy | Deploy with factory | Sign deployment offline | Sign deployment with factory offline -->
        <v-btn :loading="submitting" class="btn--blue" @click="deployFactoryWallet">Deploy with factory</v-btn>
      </template>
    </c-dialog>
    <!--<dialog-configure-gas :value="dialogConfigureGas" @close="closeDialogConfigureGas" />-->
  </div>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'
// import DialogConfigureGas from '../modals/DialogConfigureGas'
import { shortAddress } from '../../utils/helper'
import { toAmount } from '../../lib/multicoin-utils/common'
import McashWebService from '../../services/McashWebService'
import Wallet from '../../services/Wallet'
import Transaction from '../../services/Transaction'

export default {
  components: {
    // DialogConfigureGas,
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogConfigureGas: null,
      name: '',
      confirmations: 1,
      limit: 0,
      owners: {},
      newOwner: {
        name: '',
        address: ''
      },
      submitting: false
    }
  },
  computed: {
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    confirmationsRules () {
      return [
        v => !!v || 'Confirmations is required',
        v => !isNaN(v) || 'Confirmations must be a number',
        v => +v > 0 || 'Confirmations must be greater than 0',
        v => +v <= Object.keys(this.owners).length || 'Confirmations must be less than or equal to the owners length'
      ]
    },
    limitRules () {
      return [
        v => !v || !isNaN(v) || 'Daily limit must be a number',
        v => +v >= 0 || 'Daily limit must be greater than or equal 0'
      ]
    }
  },
  watch: {
    value (v) {
      if (v && McashWebService.coinbase) {
        Vue.set(this.owners, McashWebService.coinbase, {
          name: 'My account',
          address: McashWebService.coinbase
        })
      }
    }
  },
  methods: {
    shortAddress,
    ...mapActions('notificationStore', [
      'showErrorNotification',
      'showSuccessNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    resetFormDialog () {
      this.name = ''
      this.confirmations = 1
      this.limit = 0
      this.owners = {}
      this.newOwner = { name: '', address: '' }
      this.$refs.form.resetValidation()
    },
    cancel () {
      this.closeDialog()
      this.resetFormDialog()
    },
    openDialogConfigureGas () {
      this.dialogConfigureGas = true
    },
    closeDialogConfigureGas () {
      this.dialogConfigureGas = false
    },
    removeOwner (address) {
      Vue.delete(this.owners, address)
    },
    addOwner () {
      this.newOwner = McashWebService.toChecksumAddress(this.newOwner)
      Vue.set(this.owners, this.newOwner.address, this.newOwner)
      this.newOwner = {}
      this.$refs.form.validate()
    },
    deployFactoryWallet () {
      if (this.$refs.form.validate()) {
        this.submitting = true
        try {
          Wallet.deployWithLimitFactory(Object.keys(this.owners), this.confirmations, toAmount(this.limit) || 0)
            .then(txId => {
              this.closeDialog()
              this.showSuccessNotification('Deployment transaction was sent to factory contract.')
              Transaction.add({
                txId,
                callback: (receipt) => {
                  const walletAddress = McashWebService.toChecksumAddress(receipt.decodedLogs[0].events[1].value)
                  this.showSuccessNotification('Wallet deployed')
                  Wallet.updateWallet({ name: this.name, address: walletAddress, owners: this.owners })
                  Transaction.update(txId, { multisig: walletAddress })
                }
              })
            })
            .catch(e => {
              // TODO: dangerAlert
              console.error(e)
            })
            .finally(() => {
              this.submitting = false
            })
        } catch (e) {
          // do nothing
          this.submitting = false
        }
      }
    }
  }
}
</script>

<style lang="sass">
.dialog-create-wallet
  .v-data-table
    td
      padding: 0 6px
      @media screen and (min-width: 1260px)
        padding: 0 16px
.input-add-address-mobile
  border-top: 2px solid #cccccc
  width: 100%
  padding: 8px 16px
</style>
