<template>
  <div class="reset-settings">
    <c-dialog
      :value="value"
      title="Select a Web3 wallet provider"
      :persistent="false"
      width="400"
      content-class="dialog-type-info"
      @close="closeDialog"
    >
      <template v-slot:content>
        <div class="d-flex justify-space-around">
          <v-btn class="btn--blue" @click="setWallet('mcashlight')">McashLight</v-btn>
          <v-btn class="btn--blue" @click="setWallet('remotenode')">Remote node</v-btn>
        </div>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import Config from '../../services/Config'
import McashWebService from '../../services/McashWebService'
import CommunicationBus from '../../services/CommunicationBus'
import { loadConfiguration, txDefault } from '../../config'

import { mapActions } from 'vuex'
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      termsOfUse: null,
      privacyPolicy: null
    }
  },
  methods: {
    ...mapActions('Notification', [
      'showSuccessNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    accept () {
      localStorage.setItem('gdprTermsAccepted', true)
      this.closeDialog()
    },
    setWallet (option) {
      const config = Config.getUserConfiguration()
      config.wallet = option
      // Save new configuation
      Config.setConfiguration('userConfig', JSON.stringify(config))
      loadConfiguration() // config.js
      // Reload we3 provider
      McashWebService.webInitialized().then(function () {
        Config.setConfiguration('chooseWeb3ProviderShown', true)
        setTimeout(this.closeDialog(), 1000)

        this.showSuccessNotification('Welcome, you can start using your Vaultnature Wallet.')
        // Update info on regular interval
        CommunicationBus.startInterval('updateInfo', txDefault.accountsChecker.checkInterval)
      })
    }
  }
}
</script>
