<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Deposit"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="deposit-input-amount" class="label-custom">Amount ({{ token ? token.name : 'MCASH' }})</label>
            <v-text-field
              id="deposit-input-amount"
              v-model.number="amount"
              type="number"
              solo flat outlined dense
              :rules="amountRules"
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn v-show-hide-by-connectivity="'offline'" class="btn--blue" @lick="sign">
          Sign offline
        </v-btn>
        <v-btn v-show-hide-by-connectivity="'online'" class="btn--blue" :disabled="loading || !formInvalid" @click="handleDeposit">
          <v-progress-circular
            v-show="loading"
            indeterminate
            size="22"
          />
          &nbsp;Send transaction
        </v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Transaction from '../../services/Transaction'
import { toAmount } from '../../lib/multicoin-utils/common'
import Token from '../../services/Token'
import mcashUtils from '../../lib/multicoin-utils/mcashUtils'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    wallet: {
      type: Object,
      required: true
    },
    token: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      amount: null,
      loading: false,
      amountRules: [n => n > 0 || 'Amount is integer'],
      formInvalid: null
    }
  },
  watch: {
    amount () {
      this.formInvalid = this.$refs.form.validate()
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'showSuccessNotification',
      'showErrorNotification'
    ]),
    ...mapActions('mcashStore', [
      'sendTransactionMcash'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    async handleDeposit () {
      this.loading = true
      try {
        let txId
        if (this.token) {
          txId = await Token.transfer(this.token.address, this.wallet.address, toAmount(this.amount, this.token.decimals))
        } else {
          const res = await this.sendTransactionMcash({ to: this.wallet.address, amount: toAmount(this.amount) })
          txId = res.tx_id
        }
        this.showSuccessNotification('Deposit transaction was sent.')

        this.closeDialog()
        // TODO: Transaction does not display content deposit Mcash (txId received by this.sendTransactionMcash)
        Transaction.add({
          txId,
          callback: (receipt) => {
            this.$emit('update-token')
            this.showSuccessNotification('Deposit transaction success.')
          }
        })
      } catch (error) {
        const msg = error.message ? error.message : error
        const errorMsg = msg || 'Deposit transaction failled!'
        this.showErrorNotification(mcashUtils.prettyErrorMessage(errorMsg))
      } finally {
        this.loading = false
        this.amount = null
        this.$refs.form.reset()
      }
    },
    sign () {
      // Transaction.signOffline(
      //   {
      //     to: this.wallet.address,
      //     value: this.amount
      //   },
      //   function (e, signed) {
      //     if (e) {
      //       this.showErrorNotification(e)
      //     } else {
      //       this.closeDialog()
      //       // Utils.signed(signed)
      //     }
      //   })
    }
  }
}
</script>
