<template>
  <div class="reset-settings">
    <c-dialog
      :value="value"
      title="Invalid Mcash-network endpoint"
      :persistent="false"
      width="600"
      content-class="dialog-type-warning"
      closable
      @close="closeDialog"
    >
      <template v-slot:content>
        <div>
          <p class="body-2">
            You're trying to connect to an invalid mcash-network endpoint that might
            lead to experience weird behaviours such as rate-limited requests.
            Please read about the new mcash-network's endpoints on the <a href="#">documentation</a>
            and discover how to create your project ID.
          </p>
          <p class="body-2">You can close this alert and read more on our <a href="#">FAQs</a> afterwards.</p>
          <div class="title mb-4">How to set the new endpoint on the Vault</div>
          <p class="body-2">
            Once you have created the project ID on mcash-network and obtained the mcash-network endpoint,
            please set it on the Vault by going to <nuxt-link to="/settings">settings</nuxt-link> page.
          </p>
          <p class="body-2">
            On settings, click on Mcash Node's dropdown menu and select Custom configuration,
            this would make the Mcash node's field editable. Please write your new mcash-network endpoint there.
          </p>
          <p class="body-2">
            Remember, if Mcashweb Provider is set to Default (Mcashlight, ...),
            Vault will use the Mcash Node endpoint coming with the injected Mcashweb Provider,
            so in that case go to your Mcashweb Provider (Mcashlight for instance) and update/switch your Mcash Node endpoint.
          </p>
        </div>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--blue" tile @click="hideAlert">Don't ask again</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters('mcashStore', [
      'enabledMcash'
    ])
  },
  watch: {
    enabledMcash (val) {
      if (val) {
        this.closeDialog()
      }
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    hideAlert () {
      localStorage.setItem('showEndpointAlert', 'true')
      this.closeDialog()
    }
  }
}
</script>
