<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Withdaw limit"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="withdraw-input-amount" class="label-custom">Amount ({{ token ? token.name : 'MCASH' }})</label>
            <v-text-field
              id="withdraw-input-amount"
              v-model="tx.value"
              solo flat outlined dense required
              type="number"
              :min="0"
            />
          </div>
          <div class="my-input">
            <label for="withdraw-input-destination" class="label-custom">Destination</label>
            <v-text-field
              id="withdraw-input-destination"
              solo flat outlined dense required
              :value="tx.to"
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn
          v-show-hide-by-connectivity="'online'"
          class="btn--blue"
          @click="handleWithdraw"
        >
          Send multisig transaction
        </v-btn>
        <v-btn
          v-show-hide-by-connectivity="'offline'"
          class="btn--blue"
          @click="() => {}"
        >
          Sign offline
        </v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { toAmount } from '../../lib/multicoin-utils/common'
import Wallet from '../../services/Wallet'
import Token from '../../services/Token'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    wallet: {
      type: Object,
      required: true
    },
    token: {
      type: Object,
      default: null
    }
  },
  data: () => ({
    tx: {
      value: 0,
      to: null,
      data: '0x'
    }
  }),
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    handleWithdraw () {
      const tx = Object.assign({}, this.tx)
      tx.value = toAmount(this.tx.value)
      if (this.token) {
        Token.withdraw(this.wallet.address, 'wallet', tx, null)
      } else {
        Wallet.submitTransaction(this.wallet.address, tx, null, null, null, { onlySimulate: false })
      }
      // this.closeDialog()
    }
  }
}
</script>
