<template>
  <div class="reset-settings">
    <c-dialog
      :value="value"
      title="Terms of Use and Privacy Policy"
      persistent
      content-class="dialog-type-danger"
      @close="closeDialog"
    >
      <template v-slot:content>
        <p class="body-2">
          For using the application, you have to agree with our
          <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
        </p>
        <p class="body-2">
          Don't use the wallet hosted at
          <a href="#" target="_blank">https://wallet.gnosis.pm</a> to sign transactions.
          Use <a href="#" target="_blank"> https://wallet.gnosis.pm</a> only to
          check the status of your wallet. Use a locally installed version for signing.
          A version can be obtained <a href="#" target="_blank">here</a>.
        </p>
        <p class="body-2">
          All smart contracts have been audited carefully multiple times.
          However, all contracts are <strong>WITHOUT ANY WARRANTY;</strong> without even
          the implied warranty of <strong>MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE</strong>.
        </p>
        <p class="body-2">
          Use at your own risk.
        </p>
        <v-checkbox v-model="termsOfUse" dense hide-details>
          <template v-slot:label>
            <span class="body-2">I have read and understood the Terms of Use</span>
          </template>
        </v-checkbox>
        <v-checkbox v-model="privacyPolicy" dense hide-details class="mt-0">
          <template v-slot:label>
            <span class="body-2">I have read and understood the Privacy Policy</span>
          </template>
        </v-checkbox>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--blue" :disabled="!termsOfUse || !privacyPolicy" @click="accept">Continue</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      termsOfUse: null,
      privacyPolicy: null
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    accept () {
      localStorage.setItem('gdprTermsAccepted', true)
      this.closeDialog()
    }
  }
}
</script>
