<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Configure Gas"
      :persistent="false"
      width="600"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input mb-4">
            <label for="add-address-input-name" class="label-custom">Gas limit:</label>
            <v-text-field
              id="add-address-input-name"
              solo flat outlined dense background-color="#D7E1F2" hide-details=""
            />
          </div>
          <div class="mb-4 my-input">
            <label for="add-address-input-address" class="label-custom">Gas price (GWei):</label>
            <v-text-field
              id="add-address-input-address"
              solo flat outlined dense background-color="#D7E1F2" hide-details=""
            />
          </div>
          <div class="mb-2 my-input">
            <label for="add-address-input-address" class="label-custom">Tx fees (ETH):</label>
            <v-text-field
              id="add-address-input-address"
              solo flat outlined dense background-color="#D7E1F2" disabled hide-details=""
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="closeDialog">Send Transaction</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    }
  }
}
</script>
