<template>
  <div class="reset-settings">
    <c-dialog
      :value="value"
      title="No account"
      :persistent="false"
      content-class="dialog-type-info"
      @close="closeDialog"
    >
      <template v-slot:content>
        <p class="body-2">
          This wallet requires a 3rd party Mcash account management software like
          <a href="https://www.mcashlight.com/" class="prevent-focus" target="_blank">Mcashlight</a>
        </p>
        <p class="body-2">
          You can monitor existing wallets without an account management software but you cannot create new wallets or sign transactions.
        </p>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <!-- <v-btn class="btn--blue" @click="openDialogRequiredMcash">Unlock Mcashlight</v-btn> -->
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters('mcashStore', [
      'addressMcash'
    ])
  },
  watch: {
    addressMcash (val) {
      if (val) this.closeDialog()
    }
  },
  methods: {
    ...mapActions('mcashStore', [
      'openDialogRequiredMcash'
    ]),
    closeDialog () {
      this.$emit('close', false)
    }
  }
}
</script>
