<template>
  <div>
    <template v-if="isMobile">
      <v-data-table
        class="my-table"
        :headers="headersAddressBookMobile"
        :items="addressBookItems"
        show-expand
        single-expand
        item-key="address"
        :mobile-breakpoint="10"
        hide-default-header
        :hide-default-footer="addressBookItems.length <= itemsPerPage"
        :items-per-page="itemsPerPage"
      >
        <template v-slot:top>
          <v-toolbar flat class="head-table">
            <v-toolbar-title class="my-title">Address Book</v-toolbar-title>
            <v-spacer />
            <v-btn class="btn--blue" depressed x-small fab @click="openDialogAddAddress">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-toolbar>
        </template>
        <template v-slot:no-data>
          <p class="subtitle-1 mt-6">
            <span class="text--gray-dark">No addresses. Add a new entry</span>
            <span class="text--blue hover-action" @click="openDialogAddAddress">now.</span>
          </p>
        </template>
        <template v-slot:item.expand="{ item }">
          <div class="d-flex justify-space-between align-center">
            <div>
              <nuxt-link to="/wallet" class="text-decoration-none">
                <div class="text--gray-dark font-weight-bold">{{ item.name }}</div>
              </nuxt-link>
              <div class="text--blue">
                <small>{{ shortAddress(item.address) || '--' }}</small>
                <v-tooltip bottom color="rgba(24,24,24)">
                  <template v-slot:activator="{ on }">
                    <v-btn
                      class="ml-2"
                      depressed x-small icon
                      v-on="on" @click="copyText(item.address)"
                    >
                      <v-icon>mdi-content-copy</v-icon>
                    </v-btn>
                  </template>
                  <span>Copy address</span>
                </v-tooltip>
              </div>
            </div>

            <div class="text-right">
              <v-btn class="btn--blue ml-2" depressed small @click="openDialogEditAddressBook(item)">Edit</v-btn>
              <v-btn class="btn--red ml-2" depressed small @click="openDialogRemoveAddressBook(item)">Remove</v-btn>
            </div>
          </div>
        </template>
        <template v-slot:expanded-item="{ item }">
          <td colspan="6">
            <div class="d-flex justify-space-between py-2">
              <div class="table-expanded__title grey--text">Type</div>
              <div class="table-expanded__content">{{ item.type }}</div>
            </div>
          </td>
        </template>
      </v-data-table>
    </template>

    <template v-else>
      <v-data-table
        :headers="headersAddressBook"
        :items="addressBookItems"
        class="my-table"
        :mobile-breakpoint="610"
        :hide-default-footer="addressBookItems.length <= itemsPerPage"
        :items-per-page="itemsPerPage"
      >
        <template v-slot:top>
          <v-toolbar flat :elevation="1">
            <v-toolbar-title class="my-title">Address Book</v-toolbar-title>
            <v-spacer />

            <v-btn v-if="isMobile" class="btn--blue" depressed x-small fab @click="openDialogAddAddress">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-btn v-else class="btn--blue" @click="openDialogAddAddress">Add</v-btn>
          </v-toolbar>
        </template>
        <template v-slot:item.name="{ item }">
          <div class="d-flex justify-space-between">
            <div>{{ item.name }}</div>
            <div class="d-flex">
              <v-btn class="btn--blue mx-2" depressed small tile @click="openDialogEditAddressBook(item)">Edit</v-btn>
              <v-btn class="btn--red" small depressed tile @click="openDialogRemoveAddressBook(item)">Remove</v-btn>
            </div>
          </div>
        </template>
        <template v-slot:no-data>
          <p class="subtitle-1 mt-6">
            <span class="text--gray-dark">No addresses. Add a new entry</span>
            <span class="text--blue hover-action" @click="openDialogAddAddress">now.</span>
          </p>
        </template>
        <template v-slot:item.address="{ item }">
          <v-tooltip bottom color="rgba(24,24,24)" allow-overflow>
            <template v-slot:activator="{ on }">
              <div v-show="item.address" class="d-flex justify-space-between" v-on="on">
                <div>
                  {{ shortAddress(item.address) || '--' }}
                </div>
                <div>
                  <v-btn class="btn--blue ml-2" depressed tile small @click="copyText(item.address)">Copy</v-btn>
                </div>
              </div>
            </template>
            <span>{{ item.address }}</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </template>

    <!--  -->
    <dialog-edit-address-book
      :book="book"
      :value="dialogEditAddressBook"
      @close="closeDialogEditAddressBook"
    />
    <dialog-remove-address-book
      :book="book"
      :value="dialogRemoveAddressBook"
      @close="closeDialogRemoveAddressBook"
    />
    <dialog-add-address
      :value="dialogAddAddress"
      @close="closeDialogAddAddress"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DialogAddAddress from '../components/address_book/DialogAddAddress'
import DialogEditAddressBook from '../components/address_book/DialogEditAddressBook'
import DialogRemoveAddressBook from '../components/address_book/DialogRemoveAddressBook'
import { copyToClipboard, shortAddress } from '../utils/helper'

export default {
  components: {
    DialogAddAddress,
    DialogEditAddressBook,
    DialogRemoveAddressBook
  },
  data () {
    return {
      itemsPerPage: 10,
      headersAddressBook: [
        { text: 'Name', value: 'name', sortable: false },
        { text: 'Address', value: 'address', sortable: false },
        { text: 'Type', value: 'type', sortable: false }
      ],
      headersAddressBookMobile: [
        { text: '', value: 'expand', sortable: false },
        { text: '', value: 'data-table-expand', align: 'center' }
      ],
      copied: false,
      dialogAddAddress: false,
      dialogEditAddressBook: false,
      dialogRemoveAddressBook: false,
      book: {
        name: null,
        address: null
      }
    }
  },
  computed: {
    ...mapGetters('bookStore', [
      'addressBook'
    ]),
    addressBookItems () {
      return Object.values(this.addressBook)
    },
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    }
  },
  mounted () {
    this.syncAddressBookFromLocal()
  },
  methods: {
    shortAddress,
    ...mapActions('bookStore', [
      'syncAddressBookFromLocal'
    ]),
    copyText (text) {
      copyToClipboard(text)
    },
    openDialogAddAddress () {
      this.dialogAddAddress = true
    },
    closeDialogAddAddress () {
      this.dialogAddAddress = false
    },
    openDialogEditAddressBook (item) {
      this.book = item
      this.dialogEditAddressBook = true
    },
    openDialogRemoveAddressBook (item) {
      this.book = item
      this.dialogRemoveAddressBook = true
    },
    closeDialogEditAddressBook () {
      this.dialogEditAddressBook = false
    },
    closeDialogRemoveAddressBook () {
      this.dialogRemoveAddressBook = false
    }
  }
}
</script>
