<template>
  <div class="settings">
    <div class="settings__container">
      <div class="settings__title my-title ">Settings</div>
      <v-row class="settings__content">
        <v-col cols="12" md="6">
          <v-row>
            <v-col cols="6" md="12" class="pb-0 body-1">
              <label for="select-node">Mcash Node</label>
            </v-col>
            <v-col cols="6" md="12" class="pt-0">
              <v-text-field
                v-show="isCustomConfigNode"
                :value="selectedMcashNode.url || 'Custom Node'"
                hide-details
                @change="addCustomMcashNode"
              >
                <template v-slot:append>
                  <v-icon @click="swictchSelectNode">mdi-menu-down</v-icon>
                </template>
              </v-text-field>
              <v-select
                v-show="!isCustomConfigNode"
                ref="selectNode"
                :value="config.selectedMcashNode"
                item-text="url"
                hide-details
                editable="customConfig"
                class="slot-label-custom"
                :items="config.mcashNodes"
                @change="onChangeNode"
              >
                <template v-slot:selection="{ item }">
                  <span class="font-weight-medium">{{ item.name }}</span>
                </template>
                <template v-slot:item="{ item }">
                  <div class="text--gray-dark body-2">
                    <div class="font-weight-medium">{{ item.name }}</div>
                    <div>{{ item.url }}</div>
                  </div>
                </template>
                <template v-slot:append-item>
                  <div class="border-top pl-6 pt-2 text--gray body-2 hover-action" @click="swictchInputConfigNode">Custom configuration</div>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6">
          <v-row>
            <v-col cols="6" md="12" class="pb-0 body-1">
              <label for="selected-provider">Mcash Provider</label>
            </v-col>
            <v-col cols="6" md="12" class="pt-0">
              <v-select
                id="selected-provider"
                v-model="selectedProvider"
                class="slot-label-custom"
                dense hide-details
                :items="itemsProvider"
              >
                <template v-slot:selection="{ item }">
                  <span class="font-weight-medium">{{ item }}</span>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="6">
          <v-row>
            <v-col cols="6" md="12" class="pb-0 body-1">
              <label for="selected-factory-contract">Wallet factory contract</label>
            </v-col>
            <v-col cols="6" md="12" class="pt-0">
              <v-text-field
                v-show="isCustomConfigFactoryContract"
                :value="config.walletFactoryAddress.address || 'Custom contract'"
                @change="addCustomWalletFactoryAddress"
              >
                <template v-slot:append>
                  <v-icon @click="swictchSelectFactoryContract">mdi-menu-down</v-icon>
                </template>
              </v-text-field>

              <v-select
                v-show="!isCustomConfigFactoryContract"
                ref="selectFactoryContract"
                :value="config.walletFactoryAddress.address"
                item-text="address" hide-details
                class="slot-label-custom"
                :items="config.walletFactoryAddressList"
                @change="onChangeFactoryContractAddress"
              >
                <template v-slot:selection="{ item }">
                  <span class="font-weight-medium">{{ item.name }}</span>
                </template>
                <template v-slot:item="{ item }">
                  <div class="text--gray-dark body-2">
                    <div class="font-weight-medium">{{ item.name }}</div>
                    <div>{{ item.address }}</div>
                  </div>
                </template>
                <template v-slot:append-item>
                  <div class="border-top pl-6 pt-2 text--gray body-2 hover-action" @click="swictchInputFactoryContract">Custom configuration</div>
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <div class="settings__actions">
        <v-btn class="btn--blue btn-wrap" @click="update">Update settings</v-btn>
        <v-btn class="btn--blue btn-wrap" @click="openDialogResetSetting">Reset settings</v-btn>
        <v-btn class="btn--blue btn-wrap" @click="openDialogImportWallet">Import wallets</v-btn>
        <v-btn class="btn--blue btn-wrap" @click="openDialogExportWallet">Export wallets</v-btn>
      </div>
    </div>
    <div class="app-about my-title">About</div>
    <p class="app-version pb-12">App version 1.0.0</p>
    <!--  -->
    <dialog-reset-settings :value="dialogResetSetting" @close="closeDialogResetSetting" />
    <dialog-import-wallet :value="dialogImportWallet" @close="closeDialogImportWallet" />
    <dialog-export-wallet :value="dialogExportWallet" @close="closeDialogExportWallet" />
  </div>
</template>
<script>
import DialogResetSettings from '../components/settings/DialogResetSettings'
import DialogExportWallet from '../components/settings/DialogExportWallet'
import DialogImportWallet from '../components/settings/DialogImportWallet'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: { DialogExportWallet, DialogImportWallet, DialogResetSettings },
  data () {
    return {
      dialogImportWallet: null,
      dialogExportWallet: null,
      dialogResetSetting: null,
      selectedNode: null,
      selectedFactoryContract: null,
      selectedProvider: null,
      itemsProvider: [
        'Default (Mcashlight, ...)',
        'Remote'
      ],
      isCustomConfigNode: false,
      isCustomConfigFactoryContract: false,
      inputCustomFactoryContract: 'Custom Contract'
    }
  },
  computed: {
    ...mapGetters('mcashStore', [
      'addressMcash'
    ]),
    ...mapGetters('settingsStore', [
      'config'
    ]),
    selectedMcashNode () {
      return this.config.selectedMcashNode
    },
    selectedWalletFactoryContract () {
      return this.config.walletFactoryAddress
    }
  },
  watch: {
    selectedMcashNode (val) {
      if (val.name === 'Custom node') {
        this.swictchInputConfigNode()
      }
    },
    selectedWalletFactoryContract (val) {
      if (val.name === 'Custom contract') {
        this.swictchInputFactoryContract()
      }
    }
  },
  mounted () {
    this.initDefaultValue()
    this.loadConfig()
  },
  methods: {
    ...mapActions('notificationDialogStore', [
      'showDialogErrorNotification'
    ]),
    ...mapActions('settingsStore', [
      'loadConfig',
      'onChangeNode',
      'onChangeFactoryContractAddress',
      'update',
      'addCustomWalletFactoryAddress',
      'addCustomMcashNode'
    ]),
    updateSettings () {
      // test
      const message = {
        text: 'Please specify a wallet factory contract.'
      }
      this.showDialogErrorNotification(message)
    },
    openDialogImportWallet () {
      this.dialogImportWallet = true
    },
    closeDialogImportWallet () {
      this.dialogImportWallet = false
    },
    openDialogExportWallet () {
      this.dialogExportWallet = true
    },
    closeDialogExportWallet () {
      this.dialogExportWallet = false
    },
    openDialogResetSetting () {
      this.dialogResetSetting = true
    },
    closeDialogResetSetting () {
      this.dialogResetSetting = false
    },
    swictchInputConfigNode () {
      this.isCustomConfigNode = true
      this.$refs.selectNode.blur()
    },
    swictchSelectNode () {
      this.isCustomConfigNode = false
      this.$refs.selectNode.focus()
      this.$refs.selectNode.activateMenu()
    },
    swictchInputFactoryContract () {
      this.isCustomConfigFactoryContract = true
      this.$refs.selectFactoryContract.blur()
    },
    swictchSelectFactoryContract () {
      this.isCustomConfigFactoryContract = false
      this.$refs.selectFactoryContract.focus()
      this.$refs.selectFactoryContract.activateMenu()
    },
    initDefaultValue () {
      this.selectedProvider = this.itemsProvider[0]
    }

  }
}
</script>
<style lang="sass">
@import '../assets/style/theme'

.settings
  &__title
    @media screen and (min-width: $mobile-max-width)
      padding: 14px 24px
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)

  &__container
    @media screen and (min-width: $mobile-max-width)
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)

  &__actions
    position: relative
    left: -6px
    margin-top: 12px
    .btn-wrap
      margin-bottom: 24px
      margin-left: 6px
      margin-right: 6px
      height: 50px !important
      .v-btn__content
        font-size: 12px
        line-height: 14px
        white-space: normal
        display: inline-block
        max-width: 60px !important
      @media screen and (min-width: 610px)
        height: 36px !important
        .v-btn__content
          white-space: nowrap
          font-size: 14px
          max-width: -webkit-fill-available !important
    @media screen and (min-width: $mobile-max-width)
      padding: 0 48px 24px
  &__content
    .v-text-field
      padding-top: 0 !important
      margin-top: 0 !important
    label
      font-weight: 500
      color: #7B7B7B
      font-size: 16px
      @media screen and (min-width: 430px)
        font-size: 18px
    @media screen and (min-width: $mobile-max-width)
      padding: 0 20px
  .app-about
    padding: 12px
    @media screen and (min-width: $mobile-max-width)
      margin-top: 46px
      padding: 12px 12px 12px 48px
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)

  .app-version
    margin-top: 0
    color: #7B7B7B
    padding-left: 12px
    font-weight: 500
    font-size: 13px
    line-height: 16px
    @media screen and (min-width: $mobile-max-width)
      font-size: 16px
      margin-top: 12px
      color: #444444
  input
    font-weight: 500
</style>
