<template>
  <div class="transactions">
    <template>
      <v-data-table
        class="my-table"
        :headers="getHeadersTransaction"
        :items="transactions"
        :show-expand="isMobile"
        single-expand
        :hide-default-header="isMobile"
        :mobile-breakpoint="0"
        item-key="txId"
        :items-per-page="itemsPerPage"
      >
        <template v-slot:top>
          <div class="transactions__head">
            <div class="head-wrap">
              <div class="my-title my-2">Transactions</div>

              <div>
                <v-btn class="btn--blue ml-2 my-2" @click="openDialogSendTransaction">Send transaction</v-btn>
                <v-btn class="btn--blue ml-2 my-2" @click="openDialogSendSignTransaction">Send signed transaction</v-btn>
                <!--<v-btn class="btn&#45;&#45;blue ml-2 my-2" @click="openDialogGetNonce">Get nonce</v-btn>-->
                <v-btn class="btn--red ml-2 my-2" @click="openDialogRemoveTransactionAll">Remove all</v-btn>
              </div>
            </div>
          </div>
        </template>
        <!-- destination -->
        <template v-slot:item.destination="{ item }">
          <c-tooltip word-wrap>
            <template v-slot:activator="{ on }">
              <a :href="explorerTx(item.txId)" target="_blank" v-on="on">
                {{ getDestinationOrContract(item) || '-' }}
              </a>
            </template>
            <span>{{ item.multisig || item.info.to }}</span>
          </c-tooltip>
        </template>
        <!-- value -->
        <template v-slot:item.value="{ item }">
          <div v-if="item.contractData.call_value">{{ item.contractData.call_value | mcash }}</div>
          <div v-else>-</div>
        </template>
        <!-- data -->
        <template v-slot:item.decodedData="{ item }">
          <template v-if="item.decodedData && item.decodedData.title">
            <div class="d-flex justify-space-between">
              <div style="flex: 1">
                <c-tooltip word-wrap>
                  <template v-slot:activator="{ on }">
                    <span v-on="on">{{ item.decodedData.title }}</span>
                  </template>
                  <div class="tx-data">{{ item.contractData.data | stringLimitTo(1000) }}</div>
                </c-tooltip>
                <ul>
                  <li v-for="(param, index) in item.decodedData.params" :key="index">
                    {{ param.name }}:
                    <c-tooltip word-wrap>
                      <template v-slot:activator="{ on }">
                        <span v-on="on">{{ param.value | addressCanBeOwner | logParam(param.name === 'value' && item.decodedData.title === 'submitTransaction') }}</span>
                      </template>
                      <div class="tx-data">{{ param.value | mcashAddress }}</div>
                      <!--{{ param.value|addressCanBeOwner:wallet|logParam:(param.name == 'value' && transaction.decodedData.title == 'submitTransaction') }}-->
                    </c-tooltip>
                  </li>
                </ul>
              </div>
              <div v-show="(item.decodedData.notDecoded || item.decodedData.params) && !item.toWallet" style="width: 80px">
                <v-btn
                  class="btn--blue ml-2"
                  depressed small tile
                  @click="openDialogEditABI(item.info.tx_id)"
                >
                  Edit ABI
                </v-btn>
              </div>
            </div>
          </template>
          <template v-else>
            <div>-</div>
          </template>
        </template>
        <!--&lt;!&ndash; nonce &ndash;&gt;-->
        <!--<template slot="item.nonce" slot-scope="{ item }">-->
        <!--<div v-if="item.nonce">{{ item.nonce }}</div>-->
        <!--<div v-else class="text-center">-</div>-->
        <!--</template>-->
        <!--&lt;!&ndash; mined &ndash;&gt;-->
        <template v-slot:item.receipt="{ item }">
          <span>{{ item.receipt ? 'Yes' : 'No' }}</span>
        </template>
        <!-- logs -->
        <template v-slot:item.logs="{ item }">
          <ul v-if="item.receipt.decodedLogs && item.receipt.decodedLogs.length" class="py-2 text-left">
            <li v-for="(log, logIndex) in item.receipt.decodedLogs" :key="logIndex">
              <template v-if="log">
                {{ log.name }}:
                <ul>
                  <li v-for="(param, paramIndex) in log.events" :key="paramIndex">
                    {{ param.name }}:
                    <c-tooltip word-wrap>
                      <template v-slot:activator="{ on }">
                        <span v-on="on">{{ param.value | addressCanBeOwner | logParam(param.name === 'value') }}</span>
                      </template>
                      <span>{{ param.value | mcashAddress }}</span>
                    </c-tooltip>
                  </li>
                </ul>
              </template>
            </li>
          </ul>
        </template>
        <template v-slot:item.action="{ item }">
          <v-btn class="btn--red" small tile depressed @click="openDialogRemoveTransaction(item.txId)">Remove</v-btn>
        </template>
        <template v-slot:item.expand="{ item }">
          <div class="d-flex justify-space-between align-center">
            <div>
              <div class="text--gray-dark font-weight-bold">{{ item.destination }}</div>
              <div class="text--blue">
                <small>{{ item.contractData.call_value | mcash || '-' }}</small>
              </div>
            </div>
            <div class="text-right">
              <v-btn class="btn--red" small tile depressed @click="openDialogRemoveTransaction(item.destination)">Remove</v-btn>
            </div>
          </div>
        </template>
        <template v-slot:expanded-item="{ item }">
          <td colspan="6">
            <div v-if="item.decodedData" class="d-flex justify-space-between py-2">
              <div>
                <div class="table-expanded__title grey--text">Data</div>
                <div class="table-expanded__content text-overflow">
                  <template v-if="item.decodedData.title">
                    <c-tooltip word-wrap>
                      <template v-slot:activator="{ on }">
                        <span v-on="on">{{ item.decodedData.title }}</span>
                      </template>
                      <div class="tx-data">{{ item.contractData.data | stringLimitTo(1000) }}</div>
                    </c-tooltip>
                    <ul>
                      <li v-for="(param, index) in item.decodedData.params" :key="index">
                        {{ param.name }}:
                        <c-tooltip word-wrap>
                          <template v-slot:activator="{ on }">
                            <span v-on="on">{{ param.value | addressCanBeOwner | logParam(param.name === 'value' && item.decodedData.title === 'submitTransaction') }}</span>
                          </template>
                          <div class="tx-data">{{ param.value | mcashAddress }}</div>
                          <!--{{ param.value|addressCanBeOwner:wallet|logParam:(param.name == 'value' && transaction.decodedData.title == 'submitTransaction') }}-->
                        </c-tooltip>
                      </li>
                    </ul>
                  </template>
                  <template v-else>
                    <div class="text-center">-</div>
                  </template>
                </div>
              </div>
              <div v-if="item.decodedData.title" v-show="(item.decodedData.notDecoded || item.decodedData.params) && !item.toWallet">
                <v-btn
                  class="btn--blue ml-2"
                  depressed small tile
                  @click="openDialogEditABI(item.info.tx_id)"
                >
                  Edit ABI
                </v-btn>
              </div>
            </div>
            <!--<div class="d-flex justify-space-between py-2">-->
            <!--<div class="table-expanded__title grey&#45;&#45;text">Nonce</div>-->
            <!--<div class="table-expanded__content text-overflow">{{ item.nonce || '-' }}</div>-->
            <!--</div>-->
            <div class="d-flex justify-space-between py-2">
              <div class="table-expanded__title grey--text">Mined</div>
              <div class="table-expanded__content text-overflow ">{{ item.receipt ? 'Yes' : 'No' }}</div>
            </div>
            <div class="d-flex justify-space-between py-2">
              <div class="table-expanded__title grey--text">Logs</div>
              <div class="table-expanded__content text-overflow">
                <ul v-if="item.receipt.decodedLogs && item.receipt.decodedLogs.length" class="py-2 text-left">
                  <li v-for="(log, logIndex) in item.receipt.decodedLogs" :key="logIndex">
                    <template v-if="log">
                      {{ log.name }}:
                      <ul>
                        <li v-for="(param, paramIndex) in log.events" :key="paramIndex">
                          {{ param.name }}:
                          <c-tooltip word-wrap>
                            <template v-slot:activator="{ on }">
                              <span v-on="on">{{ param.value | addressCanBeOwner | logParam(param.name === 'value') }}</span>
                            </template>
                            <span>{{ param.value | mcashAddress }}</span>
                          </c-tooltip>
                        </li>
                      </ul>
                    </template>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </template>
        <template v-slot:no-data>
          <p class="subtitle-1 mt-6">
            <span class="text--gray-dark">No transactions. Send a transaction</span>
            <span class="text--blue hover-action" @click="openDialogSendTransaction">now.</span>
          </p>
        </template>
      </v-data-table>
    </template>
    <!--  -->
    <dialog-remove :value="dialogRemove" :transaction-id="transactionId" @close="closeDialogRemoveTransaction" />
    <dialog-edit-ABI :value="dialogEditABI" :transaction-id="transactionId" @close="closeDialogEditABI" />
    <dialog-send-transaction :value="dialogSendTransaction" @close="closeDialogSendTransaction" />
    <dialog-send-sign-transaction :value="dialogSendSignTransaction" @close="closeDialogSendSignTransaction" />
    <!--<dialog-get-nonce :value="dialogGetNonce" @close="closeDialogGetNonce" />-->
    <dialog-remove-all :value="dialogRemoveAll" @close="closeDialogRemoveTransactionAll" />
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import DialogSendTransaction from '../components/transactions/DialogSendTransaction'
import DialogSendSignTransaction from '../components/transactions/DialogSendSignTransaction'
// import DialogGetNonce from '../components/transactions/DialogGetNonce'
import DialogRemoveAll from '../components/transactions/DialogRemoveAll'
import DialogRemove from '../components/transactions/DialogRemove'
import DialogEditABI from '../components/transactions/DialogEditABI'
import { gets, shortAddress } from '../utils/helper'
import Transaction from '../services/Transaction'
import Wallet from '../services/Wallet'
import Common from '../services/Common'
import ABI from '../services/ABI'

export default {
  components: {
    DialogSendSignTransaction,
    // DialogGetNonce,
    DialogRemoveAll,
    DialogSendTransaction,
    DialogRemove,
    DialogEditABI
  },
  data () {
    return {
      dialogRemove: null,
      dialogEditABI: null,
      dialogSendTransaction: null,
      dialogSendSignTransaction: null,
      dialogGetNonce: null,
      dialogRemoveAll: null,
      transactionId: '',
      headers: [
        { text: 'Destination', value: 'destination', sortable: false },
        { text: 'Value', value: 'value', sortable: false },
        { text: 'Data', value: 'decodedData', sortable: false, width: '35%' },
        // { text: 'Nonce', value: 'nonce', sortable: false },
        { text: 'Mined', value: 'receipt', sortable: false },
        { text: 'Logs', value: 'logs', sortable: false },
        { text: 'Remove', value: 'action', sortable: false }
      ],
      headersTransactionsMobile: [
        { text: '', value: 'expand', sortable: false },
        { text: '', value: 'data-table-expand', align: 'center' }
      ],
      transactionsMap: {},
      currentPage: 1,
      itemsPerPage: 10,
      transactions: []
    }
  },
  computed: {
    ...mapGetters('walletStore', [
      'wallets'
    ]),
    ...mapGetters('bookStore', [
      'addressBook'
    ]),
    ...mapGetters('transactionStore', [
      'updates'
    ]),
    ...mapGetters('mcashStore', [
      'explorerTx'
    ]),
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    getHeadersTransaction () {
      return this.isMobile ? this.headersTransactionsMobile : this.headers
    }
  },
  watch: {
    updates () {
      this.loadUpdates()
    }
  },
  mounted () {
    this.loadUpdates()
  },
  methods: {
    shortAddress,
    openDialogSendTransaction () {
      this.dialogSendTransaction = true
    },
    closeDialogSendTransaction () {
      this.dialogSendTransaction = false
    },
    openDialogRemoveTransaction (id) {
      this.dialogRemove = true
      this.transactionId = id
    },
    closeDialogRemoveTransaction () {
      this.dialogRemove = false
    },
    openDialogEditABI (id) {
      this.dialogEditABI = true
      this.transactionId = id
    },
    closeDialogEditABI () {
      this.dialogEditABI = false
    },
    openDialogSendSignTransaction () {
      this.dialogSendSignTransaction = true
    },
    closeDialogSendSignTransaction () {
      this.dialogSendSignTransaction = false
    },
    openDialogGetNonce () {
      this.dialogGetNonce = true
    },
    closeDialogGetNonce () {
      this.dialogGetNonce = false
    },
    openDialogRemoveTransactionAll () {
      this.dialogRemoveAll = true
    },
    closeDialogRemoveTransactionAll () {
      this.dialogRemoveAll = false
    },
    //
    loadUpdates () {
      const txArray = []
      const storageTransactions = Transaction.getTransactions()
      Object.entries(storageTransactions).forEach(([txKey, txValue]) => {
        if (!this.transactionsMap[txKey]) {
          this.transactionsMap[txKey] = {}
        }

        Object.assign(this.transactionsMap[txKey], txValue)
        const txMapItem = this.transactionsMap[txKey]
        txArray.push(txMapItem)
        const abis = ABI.get()
        const savedABI = txMapItem.info ? abis[txMapItem.info.to] : null
        const txContract = gets(txMapItem, 'info.raw_data.contract')
        const contractData = (txContract && txContract[0] && gets(txContract[0], 'parameter.value')) || {}
        this.transactionsMap[txKey].contractData = contractData

        if (txMapItem.info && (!txMapItem.decodedData || txMapItem.decodedData.notDecoded || (txMapItem.usedABI && (!savedABI || savedABI.abi)))) {
          if (contractData.data && Common.isValidHex(contractData.data)) {
            // Decode data
            this.transactionsMap[txKey].decodedData = ABI.decode(contractData.data)
            if (savedABI && savedABI.abi) {
              this.transactionsMap[txKey].usedABI = true
            } else if (Wallet.wallets[txMapItem.info.to]) {
              this.transactionsMap[txKey].toWallet = true
            } else {
              this.transactionsMap[txKey].usedABI = false
              this.transactionsMap[txKey].toWallet = false
            }
          } else {
            this.transactionsMap[txKey].decodedData = {
              title: '',
              notDecoded: true
            }
          }
        }
      })

      // Transactions sorted by tx.date DESC
      this.transactions = txArray.sort(function (a, b) {
        const dateA = new Date(a.date).getTime()
        const dateB = new Date(b.date).getTime()
        return dateA > dateB ? -1 : 1
      })

      this.totalItems = Object.keys(this.transactions).length
    },
    /**
     * Returns the transaction or contract address
     */
    getDestinationOrContract (tx) {
      try {
        if (tx && tx.info && tx.info.to && this.addressBook && this.addressBook[tx.info.to]) {
          // Destination is an item in address book
          return this.addressBook[tx.info.to].name
        } else if (tx && tx.info && Wallet.wallets[tx.info.to] && Wallet.wallets[tx.info.to].name) {
          return Wallet.wallets[tx.info.to].name + ' wallet'
        } else if (tx && tx.multisig) {
          if (Wallet.wallets[tx.multisig]) {
            return 'Create wallet ' + Wallet.wallets[tx.multisig].name
          } else {
            return 'Create wallet ' + tx.multisig.slice(0, 10) + '...'
          }
        } else if (tx && tx.receipt && tx.receipt.contract_address) {
          return 'Contract ' + Vue.filter('address')(tx.receipt.contract_address)
        } else {
          if (tx.info) {
            // Check if Tx.info.to refers to an owner or a token
            const walletsKeys = Object.keys(Wallet.wallets)

            for (let x = 0; x < walletsKeys.length; x++) {
              if (Wallet.wallets[walletsKeys[x]].owners && Wallet.wallets[walletsKeys[x]].owners[tx.info.to]) {
                return Wallet.wallets[walletsKeys[x]].owners[tx.info.to].name
              } else if (Wallet.wallets[walletsKeys[x]].tokens && Wallet.wallets[walletsKeys[x]].tokens[tx.info.to]) {
                return Wallet.wallets[walletsKeys[x]].tokens[tx.info.to].name
              }
            }

            return Vue.filter('address')(tx.info.to)
          }
          return null
        }
      } catch (e) {
        console.error('getDestinationOrContract:', e)
      }
    }
  }
}
</script>

<style lang="sass">
.transactions
  &__head
    padding: 12px 8px
    margin-bottom: 2px
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)
    background-color: #fff
    .head-wrap
      width: 100%
      display: flex
      justify-content: space-between
      flex-direction: column
      @media screen and (min-width: 910px)
        flex-direction: row
.tooltip-word-wrap
  word-break: break-all
</style>
