<template>
  <div class="wallets">
    <v-data-table
      class="my-table"
      :headers="getHeaders"
      :items="walletItems"
      item-key="name"
      :show-expand="isMobile"
      single-expand
      :mobile-breakpoint="10"
      :hide-default-header="isMobile"
      :hide-default-footer="walletItems.length <= itemsPerPage"
      :items-per-page="itemsPerPage"
    >
      <template v-slot:top>
        <v-toolbar flat class="head-table">
          <v-toolbar-title class="my-title">Wallets</v-toolbar-title>
          <v-spacer />
          <v-btn v-if="isMobile" class="btn--blue" depressed x-small fab @click="openDialogNewWalletSelect"><v-icon>mdi-plus</v-icon></v-btn>
          <v-btn v-else class="btn--blue" @click="openDialogNewWalletSelect">Add</v-btn>
        </v-toolbar>
      </template>
      <template v-slot:no-data>
        <p class="subtitle-1 mt-6">
          <span class="text--gray-dark">No wallets. Add wallet</span>
          <span class="text--blue hover-action" @click="openDialogNewWalletSelect">now.</span>
        </p>
      </template>
      <template v-slot:item.name="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>
            <c-tooltip v-if="!item.isOnChain" word-wrap>
              <template v-slot:activator="{ on }">
                <v-btn v-show-hide-by-connectivity="'online'" icon v-on="on"> <v-icon>mdi-alert-circle</v-icon></v-btn>
              </template>
              <span class="subtitle-2 text--gray-light-1">This wallet was created on another chain</span>
            </c-tooltip>
            <nuxt-link :to="'/wallet/' + item.address" class="text-decoration-none">{{ item.name }}</nuxt-link>
          </div>
          <div class="d-flex">
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue mx-2" depressed small tile
              @click="openDialogEditWallet(item)"
            >
              Edit
            </v-btn>
            <v-btn
              class="btn--red" depressed small tile
              @click="openDialogRemoveWallet(item)"
            >
              Remove
            </v-btn>
          </div>
        </div>
      </template>
      <template v-slot:item.address="{ item }">
        <v-tooltip bottom color="rgba(24,24,24)">
          <template v-slot:activator="{ on }">
            <div v-show="item.address" class="d-flex justify-space-between align-center" v-on="on">
              <div>
                {{ shortAddress(item.address) || '--' }}
              </div>
              <div>
                <v-btn
                  class="btn--blue ml-2" depressed tile
                  small @click="copyToClipboard(item.address)"
                >
                  Copy
                </v-btn>
              </div>
            </div>
          </template>
          <span>{{ item.address }}</span>
        </v-tooltip>
      </template>
      <template v-slot:item.balance="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>{{ item.balance | mcash }}</div>
          <div>
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue ml-2" depressed small
              tile
              @click="openDialogDeposit(item)"
            >
              Deposit
            </v-btn>
          </div>
        </div>
      </template>
      <template v-slot:item.confirmations="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>{{ item.confirmations }}</div>
          <div>
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue ml-2" depressed small
              tile
              @click="openDialogEditRequiredConfirmations(item)"
            >
              Edit
            </v-btn>
          </div>
        </div>
      </template>
      <template v-slot:item.limit="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>{{ item.limit | mcash }}</div>
          <div>
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue ml-2" depressed small
              tile
              @click="openDialogEditDailyLimit(item)"
            >
              Edit
            </v-btn>
          </div>
        </div>
      </template>
      <template v-slot:item.maxWithdraw="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>{{ item.maxWithdraw | mcash }}</div>
          <div>
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue ml-2"
              depressed small tile
              @click="openDialogWithdraw(item)"
            >
              Withdraw
            </v-btn>
          </div>
        </div>
      </template>
      <template v-slot:item.expand="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>
            <nuxt-link :to="'/wallet/' + item.address" class="text-decoration-none">
              <div class="text--gray-dark font-weight-bold">{{ item.name }}</div>
            </nuxt-link>
            <div class="text--blue">
              <small>{{ shortAddress(item.address) || '--' }}</small>
              <v-tooltip bottom color="rgba(24,24,24)">
                <template v-slot:activator="{ on }">
                  <v-btn
                    class="ml-2"
                    depressed x-small icon
                    v-on="on" @click="copyToClipboard(item.address)"
                  >
                    <v-icon>mdi-content-copy</v-icon>
                  </v-btn>
                </template>
                <span>Copy address</span>
              </v-tooltip>
            </div>
          </div>

          <div class="text-right">
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue ml-2" depressed small @click="openDialogEditWallet(item)"
            >
              Edit
            </v-btn>
            <v-btn class="btn--red ml-2" depressed small @click="openDialogRemoveWallet(item)">Remove</v-btn>
          </div>
        </div>
      </template>
      <template v-slot:expanded-item="{ item }">
        <td colspan="6">
          <div class="d-flex justify-space-between py-2">
            <div>
              <div class="table-expanded__title grey--text">Balance</div>
              <div class="table-expanded__content">{{ item.balance | mcash }}</div>
            </div>
            <div>
              <v-btn
                v-disabled-if-no-accounts-or-wallet-available="item.address"
                class="btn--blue ml-2"
                depressed small width="100"
                @click="openDialogDeposit(item)"
              >
                Deposit
              </v-btn>
            </div>
          </div>
          <div class="d-flex justify-space-between py-2">
            <div>
              <div class="table-expanded__title grey--text">Required Confirmations</div>
              <div class="table-expanded__content">{{ item.confirmations }}</div>
            </div>
            <v-btn
              v-disabled-if-no-accounts-or-wallet-available="item.address"
              class="btn--blue ml-2" depressed small
              width="100"
              @click="openDialogEditRequiredConfirmations(item)"
            >
              Edit
            </v-btn>
          </div>
          <div class="d-flex justify-space-between py-2">
            <div>
              <div class="table-expanded__title grey--text">Daily Limit</div>
              <div class="table-expanded__content">{{ item.limit | mcash }}</div>
            </div>
            <div>
              <v-btn
                v-disabled-if-no-accounts-or-wallet-available="item.address"
                class="btn--blue ml-2" depressed small
                width="100"
                @click="openDialogEditDailyLimit(item)"
              >
                Edit
              </v-btn>
            </div>
          </div>
          <div class="d-flex justify-space-between py-2">
            <div>
              <div class="table-expanded__title grey--text">Limit For Today</div>
              <div class="table-expanded__content">{{ item.maxWithdraw | mcash }}</div>
            </div>
            <div>
              <v-btn
                v-disabled-if-no-accounts-or-wallet-available="item.address"
                class="btn--blue ml-2" depressed small
                width="100"
                @click="openDialogWithdraw(item)"
              >
                Withdraw
              </v-btn>
            </div>
          </div>
        </td>
      </template>
    </v-data-table>

    <!--  -->
    <dialog-invalid-endpoint :value="dialogInvalidEndpoint" @close="dialogInvalidEndpoint = false" />
    <dialog-select-new-wallet :value="dialogSelectNewWallet" @close="closeDialogSelectNewWallet" />
    <dialog-deposit :value="dialogDeposit" :wallet="wallet" @close="closeDialogDeposit" />
    <dialog-withdraw :value="dialogWithdraw" :wallet="wallet" @close="closeDialogWithdraw" />
    <dialog-edit-daily-limit :value="dialogEditDailyLimit" :wallet="wallet" @close="closeDialogEditDailyLimit" />
    <dialog-edit-wallet :value="dialogEditWallet" :wallet="wallet" @close="closeDialogEditWallet" />
    <dialog-remove-wallet :value="dialogRemoveWallet" :wallet="wallet" @close="closeDialogRemoveWallet" />
    <dialog-edit-required-confirmations :value="dialogEditRequiredConfirmations" :wallet="wallet" @close="closeDialogEditRequiredConfirmations" />
    <dialog-restore-wallet :value="dialogRestoreWallet" @close="closeDialogRestoreWallet" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import DialogSelectNewWallet from '../components/wallets/DialogSelectNewWallet'
import DialogDeposit from '../components/modals/DialogDeposit'
import DialogWithdraw from '../components/modals/DialogWithdraw'
import DialogEditWallet from '../components/wallets/DialogEditWallet'
import DialogEditDailyLimit from '../components/wallets/DialogEditDailyLimit'
import DialogEditRequiredConfirmations from '../components/wallets/DialogEditRequiredConfirmations'
import DialogRemoveWallet from '../components/wallets/DialogRemoveWallet'
import DialogInvalidEndpoint from '../components/modals/DialogInvalidEndpoint'
import { copyToClipboard, shortAddress } from '../utils/helper'
import { txDefault } from '../config'
import CommunicationBus from '../services/CommunicationBus'
import Wallet from '../services/Wallet'
import McashWebService from '../services/McashWebService'
import DialogRestoreWallet from '../components/wallets/DialogRestoreWallet'

export default {
  components: {
    DialogSelectNewWallet,
    DialogDeposit,
    DialogWithdraw,
    DialogEditWallet,
    DialogEditDailyLimit,
    DialogEditRequiredConfirmations,
    DialogRemoveWallet,
    DialogInvalidEndpoint,
    DialogRestoreWallet
  },
  data () {
    return {
      dialogInvalidEndpoint: null,
      expanded: [0, 1, 2],
      itemsPerPage: 10,
      headers: [
        { text: 'Name', value: 'name', sortable: false },
        { text: 'Address', value: 'address', sortable: false },
        { text: 'Balance', value: 'balance', sortable: false },
        { text: 'Required confirmations', value: 'confirmations', sortable: false },
        { text: 'Daily limit', value: 'limit', sortable: false },
        { text: 'Limit for today', value: 'maxWithdraw', sortable: false }
      ],
      headersMobile: [
        { text: '', value: 'expand', sortable: false },
        { text: '', value: 'data-table-expand', align: 'center' }
      ],
      dialogSelectNewWallet: false,
      dialogWithdraw: false,
      dialogDeposit: false,
      dialogEditDailyLimit: false,
      dialogEditRequiredConfirmations: false,
      dialogEditWallet: false,
      dialogRemoveWallet: false,
      wallet: {
        name: null,
        address: null,
        amountDeposit: null,
        destination: null,
        amountWithdraw: null,
        dailyLimit: null,
        requiredConfirmations: null
      },
      alreadyLogged: false,
      disabledEdit: null
    }
  },
  computed: {
    ...mapGetters([
      'dialogRestoreWallet'
    ]),
    ...mapGetters('walletStore', [
      'wallets',
      'updates'
    ]),
    ...mapGetters('mcashStore', [
      'enabledMcash',
      'addressMcash'
    ]),
    ...mapGetters('mcashWebStore', [
      'coinbase'
    ]),
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    getHeaders () {
      return this.isMobile ? this.headersMobile : this.headers
    },
    walletItems () {
      return this.wallets ? Object.values(this.wallets) : []
    }
  },
  watch: {
    updates () {
      const walletsToCopy = Wallet.getAllWallets()

      Object.entries(walletsToCopy).forEach(([address, value]) => {
        if (!this.wallets[address]) {
          this.onUpdateWallet({ address, value: {} })
        }
        this.onUpdateWallet({ address, value })
      })

      // Remove removed wallets
      Object.keys(this.wallets).forEach(address => {
        if (!walletsToCopy[address]) {
          this.onRemoveWallet(address)
        }
      })
      this.onUpdateTotalWalletItems(Object.keys(this.wallets).length)
    }
  },
  mounted () {
    // Convert `wallets`'s addresses to checksum addresses
    // We convert `wallets` to checksum addresses because some users might still
    // be using a not checksummed configuration, which was stored into the browser before
    // the user visited the current app version.
    let walletsData = JSON.parse(localStorage.getItem('wallets')) || {}
    walletsData = Wallet.toChecksummedWalletConfiguration(walletsData)
    localStorage.setItem('wallets', JSON.stringify(walletsData))

    // Convert transactions's addresses too
    let transactions = JSON.parse(localStorage.getItem('transactions')) || {}
    transactions = McashWebService.toChecksumAddress(transactions)
    localStorage.setItem('transactions', JSON.stringify(transactions))
    this.startup()
  },
  beforeDestroy () {
    CommunicationBus.stopInterval('interval')
    CommunicationBus.stopInterval('termsInterval')
  },
  methods: {
    shortAddress,
    copyToClipboard,
    ...mapActions([
      'setDialogRestoreWallet'
    ]),
    ...mapActions('walletStore', [
      'onUpdateWallets',
      'onUpdateWallet',
      'onUpdateTotalWalletItems',
      'onRemoveWallet',
      'updateParamsWallets'
    ]),
    ...mapActions('notificationStore', [
      'showSuccessNotification'
    ]),
    ...mapActions('mcashStore', [
      'onEnabledMcashWebService'
    ]),
    openDialogNewWalletSelect () {
      if (McashWebService.coinbase) {
        this.dialogSelectNewWallet = true
      } else {
        this.setDialogRestoreWallet(true)
      }
    },
    openDialogWithdraw (item) {
      this.wallet = item
      this.dialogWithdraw = true
    },
    openDialogDeposit (item) {
      this.wallet = item
      this.wallet.amountDeposit = 10
      this.dialogDeposit = true
    },
    openDialogEditDailyLimit (item) {
      this.wallet = item
      this.dialogEditDailyLimit = true
    },
    openDialogEditRequiredConfirmations (item) {
      this.wallet = item
      this.dialogEditRequiredConfirmations = true
    },
    openDialogEditWallet (item) {
      this.wallet = item
      this.dialogEditWallet = true
    },
    openDialogRemoveWallet (item) {
      this.wallet = item
      this.dialogRemoveWallet = true
    },
    closeDialogSelectNewWallet () {
      this.dialogSelectNewWallet = false
    },
    closeDialogWithdraw () {
      this.dialogWithdraw = false
    },
    closeDialogDeposit () {
      this.dialogDeposit = false
    },
    closeDialogEditDailyLimit () {
      this.dialogEditDailyLimit = false
    },
    closeDialogEditRequiredConfirmations (wallet) {
      this.dialogEditRequiredConfirmations = false
    },
    closeDialogEditWallet () {
      this.dialogEditWallet = false
    },
    closeDialogRemoveWallet () {
      this.dialogRemoveWallet = false
    },
    closeDialogRestoreWallet () {
      this.setDialogRestoreWallet(false)
    },
    copyText (text) {
      copyToClipboard(text)
    },
    //
    checkTerms () {
      if (localStorage.getItem('termsAccepted')) {
        CommunicationBus.stopInterval('termsInterval')
        this.openDialogNewWalletSelect()
      }
    },
    startup () {
      CommunicationBus.addFn(this.updateParamsWallets, 'interval')
      CommunicationBus.addFn(this.checkTerms, 'termsInterval')
      CommunicationBus.startInterval('interval', 10000)

      this.onUpdateWallets(Wallet.wallets)
      if (McashWebService.coinbase && (!this.walletItems.length && !this.alreadyLogged)) {
        CommunicationBus.startInterval('termsInterval', 500)
      }
      this.updateParamsWallets()
      this.alreadyLogged = true

      // The localStorage item is setted in
      // notificationsSignupConfirmationCtrl
      if (localStorage.getItem('show-signup-success')) {
        localStorage.removeItem('show-signup-success')
        this.showSuccessNotification('Signup was completed successfully.')
      }

      // Check if user is pointing to an invalid mcash-network endpoint
      // https://*.mcash.network
      this.onEnabledMcashWebService().then(() => {
        this.$nextTick(() => {
          if (txDefault.mcashNode.indexOf('mcash.network') === -1 || !this.enabledMcash) {
            if (localStorage.getItem('showEndpointAlert') !== 'true') {
              this.dialogInvalidEndpoint = true
            }
          }
        })
      })
    }
  }
}
</script>
