@font-face
  font-family: 'Samsung Sharp Sans'
  font-weight: 400
  font-style: normal
  src: url('../../static/fonts/SamsungSharpSans-Regular_SMCPS_0.ttf') format('opentype')
@font-face
  font-family: 'Samsung Sharp Sans'
  font-weight: 500
  font-style: normal
  src: url('../../static/fonts/SamsungSharpSans-Medium_SMCP_0.ttf') format('opentype')
@font-face
  font-family: 'Samsung Sharp Sans'
  font-weight: 700
  font-style: normal
  src: url('../../static/fonts/iCiel-SamsungSharpSans-Bold_SMCPS.ttf') format('opentype')
