@import './theme'

#app.v-application
  font-family: 'Samsung Sharp Sans', Roboto, sans-serif !important
  font-weight: 400 !important

.text--gray-dark
  color: #444444 !important

.text--gray
  color: #3b3b3b !important

.text--blue
  color: $color-primary !important

.text--gray-light-1
  color: rgba(255, 255, 255, 0.7)

.text--gray-light
  color: #aaaaaa

.bg-app
  background-color: #fff
  @media screen and (min-width: $mobile-max-width)
    background-color: $bg-app !important

.btn--blue
  font-weight: 500 !important
  background-color: $color-primary !important
  font-size: 15px
.btn--red
  font-weight: 500 !important
  background-color: $color-danger !important
  outline: none
  font-size: 15px
.btn--green
  font-weight: 700 !important
  background-color: #5CB85C !important
  border: 1px solid $color-primary

.btn--blue,.btn--red,.btn--green
  color: white !important
  text-transform: none !important
  font-family: Roboto, sans-serif
  &[disabled="disabled"]
    background-color: rgba(0, 0, 0, 0.12) !important
    color: rgba(0, 0, 0, 0.26) !important
    pointer-events: none !important

.theme--light.v-tabs-items
  background-color: unset !important

.box-shadow
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1)

.slot-label-custom
  .v-select__slot > label
    top: 0
    color: #a9abad
    font-size: 20px
    line-height: 17px
    font-weight: bold

.border-top
  border-top: 1px solid #cccccc

.hover-action
  cursor: pointer

.item-seleted
  background: #d8e1f3
  .v-list-item__title
    color: $color-primary !important

.tab-disable-overflowing
  .v-slide-group__prev--disabled
    overflow: hidden !important
    display: none !important

.hidden-mobile
  display: none !important
  @media screen and (min-width: $mobile-max-width)
    display: flex !important

.hidden-desktop
  display: flex !important
  @media screen and (min-width: $mobile-max-width)
    display: none !important

.label-custom
  line-height: 30px
  font-weight: bold
  color: #444555

.table-expanded__content
  font-weight: 500

.bg-red
  background: $color-danger
  color: #fff

.my-input
  font-weight: 500
  .v-input.v-input--is-disabled
    .v-input__slot
      background-color: #dcdde1 !important
  .v-input
    .v-input__slot
      background-color: rgb(215, 225, 242) !important
  .label-custom + .v-input.v-input--hide-details
    margin-bottom: 12px

.text-decoration-none
  text-decoration: none

.my-title
  font-weight: 700
  font-size: 30px !important
  line-height: 37px !important
  color: $color-primary
  letter-spacing: 0.0125em

.my-table
  @media screen and (min-width: $mobile-max-width)
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
  .head-table
    @media screen and (min-width: $mobile-max-width)
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
  .v-data-table__wrapper
    background: #E7EEF5
    font-weight: 700
    @media screen and (min-width: $mobile-max-width)
      background: #fff
  .v-data-footer
    background: #E7EEF5
    @media screen and (min-width: $mobile-max-width)
      background: #fff
  .v-toolbar__content
    padding-left: 0 !important
    @media screen and (min-width: $mobile-max-width)
      padding-left: 16px !important
  th
    background: #fff
    font-size: 16px !important
    color: #aaaaaa !important
    font-weight: bold !important
  td
    padding: 12px !important
    @media screen and (min-width: $mobile-max-width)
      padding: 6px 16px !important
  .v-data-table__expanded__content
    td
      background: #fff !important
  tbody tr:nth-of-type(odd)
    background-color: rgba(196, 196, 196, 0.25)

.text-overflow
  text-overflow: ellipsis
  overflow: hidden

.height-header
  height: $height-header
