<template>
  <c-dialog
    :value="value"
    title="Export wallets"
    content-class="export-wallet"
    :persistent="false"
    :retain-focus="false"
    @close="closeDialog"
  >
    <template v-slot:content>
      <v-checkbox v-model="addressBook" dense hide-details>
        <template v-slot:label>
          <div class="body-1 font-weight-bold">Address book</div>
        </template>
      </v-checkbox>
      <v-textarea background-color="#D7E1F2" :value="configuration" />
    </template>
    <template v-slot:actions>
      <v-spacer />
      <v-btn class="btn--red" @click="closeDialog">Close</v-btn>
      <v-btn class="btn--blue" @click="copyWallet">Copy</v-btn>
    </template>
  </c-dialog>
</template>

<script>
import { copyToClipboard } from '../../utils/helper'
import Wallet from '../../services/Wallet'
import ABI from '../../services/ABI'
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      addressBook: null,
      configuration: ''
    }
  },
  watch: {
    addressBook () {
      this.getConfiguration()
    }
  },
  mounted () {
    this.getConfiguration()
  },
  methods: {
    copyToClipboard,
    ...mapActions('notificationStore', [
      'showSuccessNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    getConfiguration () {
      const config = {}
      config.wallets = JSON.parse(localStorage.getItem('wallets')) || {}
      config.abis = ABI.get()

      if (this.addressBook) {
        config.addressBook = JSON.parse(localStorage.getItem('addressBook') || '{}')
      }

      const validConfig = Wallet.getValidConfigFromJSON(config || '', 'export')
      this.configuration = JSON.stringify(validConfig)
    },
    copyWallet () {
      copyToClipboard(this.configuration)
      this.showSuccessNotification('Configuration has been copied to clipboard.')
      this.closeDialog()
    }
  }
}
</script>

<style lang="sass">
.export-wallet
  textarea
    padding: 12px
    font-weight: 500
    font-size: 14px
</style>
