<template>
  <div class="reset-settings">
    <c-dialog
      :value="value"
      title="Reset settings"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <span class="body-1">Do you want to reset settings to factory values?</span>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleReset">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions('settingsStore', [
      'reset'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    handleReset () {
      this.closeDialog()
      this.reset()
    }
  }
}
</script>
