<template>
  <c-dialog
    :value="value"
    title="Import wallets"
    content-class="import-wallet"
    :persistent="false"
    @close="closeDialog"
  >
    <template v-slot:content>
      <v-textarea v-model="configuration" background-color="#D7E1F2" />
    </template>
    <template v-slot:actions>
      <v-spacer />
      <v-btn class="btn--red" @click="closeDialog">Close</v-btn>
      <v-btn class="btn--blue" @click="load">Save</v-btn>
    </template>
  </c-dialog>
</template>

<script>
import Wallet from '../../services/Wallet'
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      configuration: null
    }
  },
  methods: {
    ...mapActions('notificationStore', [
      'showSuccessNotification',
      'showErrorNotification'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    load  () {
      if (this.configuration && this.configuration.trim() !== '') {
        // Setting up new configuration
        try {
          Wallet.import(this.configuration)
          // Show success message
          this.showSuccessNotification('Configuration imported successfully.')

          this.closeDialog()
        } catch (err) {
          // An error occurred
          this.showErrorNotification('Please provide a valid JSON configuration script.')
        }
      } else {
        this.showErrorNotification('Please provide a valid JSON configuration script.')
      }
    }
  }
}
</script>

<style lang="sass">
.import-wallet
  textarea
    padding: 12px
    font-weight: 500
    font-size: 14px
</style>
