<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      :width="700"
      title="Browse address book"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="browse-address-input-name" class="label-custom">Name</label>
            <v-text-field id="browse-address-input-name" v-model.trim="searchNameAddess" outlined dense />
          </div>
        </v-form>

        <div>
          <v-data-table
            :headers="getHeaders"
            :items="filterAddressBookItems"
            class="my-table elevation-0 pb-6"
            :mobile-breakpoint="0"
            hide-default-footer
            :show-expand="isMobile"
            item-key="address"
            :hide-default-header="isMobile"
          >
            <template v-slot:no-data>
              No items available in the address book.
            </template>
            <template v-slot:item.name="{ item }">
              <div class="d-flex align-center">
                <button v-ripple="{ 'center': true }" class="btn btn--blue mr-2 pa-1" @click="choose(item)">
                  <v-icon color="#fff">mdi-plus</v-icon>
                </button>
                <div>{{ item.name }}</div>
              </div>
            </template>
            <template v-slot:item.expand="{ item }">
              <div class="d-flex align-center">
                <button v-ripple="{ 'center': true }" class="btn--blue mr-2 pa-1"><v-icon color="#fff">mdi-plus</v-icon></button>
                <div>
                  <nuxt-link to="/wallet" class="text-decoration-none">
                    <div class="text--gray-dark font-weight-bold">{{ item.name }}</div>
                  </nuxt-link>
                  <div class="text--blue">
                    <small>{{ item.address || '--' }}</small>
                  </div>
                </div>
              </div>
            </template>
            <template v-slot:expanded-item="{ item }">
              <td colspan="6">
                <div class="d-flex justify-space-between py-2">
                  <div class="table-expanded__title grey--text">Type</div>
                  <div class="table-expanded__content">{{ item.type }}</div>
                </div>
              </td>
            </template>
          </v-data-table>
        </div>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      headers: [
        { text: 'Name', value: 'name', sortable: false },
        { text: 'Address', value: 'address', sortable: false },
        { text: 'Type', value: 'type', sortable: false }
      ],
      headersMoblie: [
        { text: '', value: 'expand', sortable: false },
        { text: '', value: 'data-table-expand', align: 'center' }
      ],
      searchNameAddess: null
    }
  },
  computed: {
    ...mapGetters('bookStore', [
      'addressBook'
    ]),
    addressBookItems () {
      return Object.values(this.addressBook)
    },
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    getHeaders () {
      return this.isMobile ? this.headersMoblie : this.headers
    },
    filterAddressBookItems () {
      if (this.searchNameAddess) {
        return this.addressBookItems.filter((item) => item.name.search(this.searchNameAddess) !== -1)
      }
      return this.addressBookItems
    }
  },
  mounted () {
    this.syncAddressBookFromLocal()
  },
  methods: {
    ...mapActions('bookStore', [
      'syncAddressBookFromLocal'
    ]),
    closeDialog () {
      this.$emit('close')
    },
    choose (item) {
      this.$emit('select-address', item)
      this.closeDialog()
    }
  }
}
</script>
