<template>
  <div>
    <c-dialog
      :width="650"
      :value="enabledDialogError"
      :persistent="false"
      :hide-title="true"
      @close="closeDialogError"
    >
      <template v-slot:content>
        <div v-if="enabledMcash">
          <div v-if="!addressMcash" class="wallet-required">
            <h2 :class="classIconLogo">{{ loginRequired.title }}</h2>
            <p>{{ loginRequired.desc }}</p>
          </div>
        </div>
        <div v-else>
          <div class="wallet-required">
            <h2 :class="classIconLogo">{{ suggestion.title }}</h2>
            <p>{{ suggestion.desc }}</p>
            <v-btn
              v-if="suggestion.btnLink"
              :href="suggestion.btnLink"
              class="btn-mcashlight"
              color="#000"
              target="_blank"
            >
              {{ suggestion.btnText }}
            </v-btn>
          </div>
        </div>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { browserDetectionMcashLight } from '../utils/helper'
import { mapGetters, mapActions } from 'vuex'
import mcashUtils from '../lib/multicoin-utils/mcashUtils'

const mobileNotSupported = 'Mobile not supported yet'

export default {
  computed: {
    ...mapGetters('mcashStore', [
      'enabledMcash',
      'addressMcash',
      'enabledDialogError'
    ]),
    ...mapGetters('deviceStore', [
      'deviceIsMobile',
      'deviceIsMidasWallet'
    ]),
    loginRequired () {
      switch (this.$vuetify.breakpoint.name) {
        case 'md':
        case 'lg':
        case 'xl':
          return {
            title: 'Log in to McashLight',
            desc: 'Please log in to McashLight to proceed'
          }
        default:
          if (this.isShowOnMobile()) {
            return {
              title: 'Log in to Midas Wallet',
              desc: 'Please log in to Midas Wallet to proceed'
            }
          }
          return {
            title: '',
            desc: mobileNotSupported
          }
      }
    },
    suggestion () {
      const detection = browserDetectionMcashLight()
      const deepLink = detection.wallet
      switch (this.$vuetify.breakpoint.name) {
        case 'md':
        case 'lg':
        case 'xl':
          return {
            title: 'Install McashLight',
            desc: 'You need a McashLight wallet to play',
            btnText: 'MCASHLIGHT',
            btnLink: detection.wallet
          }
        default:
          if (this.isShowOnMobile()) {
            return {
              title: 'Use Midas Wallet',
              desc: 'You need a Mcashchain app to play - we recommend using Midas Wallet',
              btnText: 'Open in Midas Wallet',
              btnLink: deepLink
            }
          }
          return {
            title: '',
            desc: mobileNotSupported,
            btnText: '',
            btnLink: null
          }
      }
    },
    classIconLogo () {
      return this.deviceIsMobile ? 'midas-wallet' : 'mcashlight'
    }
  },
  watch: {
    addressMcash (val) {
      if (val) this.closeDialogError()
    }
  },
  mounted () {
    this.connectToMcashProvider()
      .then(() => {
        this.onGetMcashchain()
      })
      .catch(() => {})
    this.$nextTick(() => {
      mcashUtils.addListenerForUpdate(this.handleMcashMessage)
    })
  },
  beforeDestroy () {
    mcashUtils.removeListenerForUpdate(this.handleMcashMessage)
  },
  methods: {
    ...mapActions('mcashStore', [
      'connectToMcashProvider',
      'handleMcashMessage',
      'closeDialogError',
      'onGetMcashchain'
    ]),
    isShowOnMobile () {
      const detection = browserDetectionMcashLight()
      return detection && !!detection.wallet
    }
  }
}
</script>
<style lang="sass" scoped>
.wallet-required
  padding: 30px 50px 20px
  text-align: center
  border-radius: 6px
  @media screen and (max-width: 959px)
    padding: 30px
  & > h2
    font-weight: 400
    font-size: 18px
    margin: 0 0 20px
    line-height: 40px
    &.mcashlight
      &:before
        background: url('../static/mcashlight.png') no-repeat
        background-size: contain
    &.midas-wallet
      &:before
        background: url('../static/wallet_logo.jpg') no-repeat
        background-size: contain
    &:before
      content: ' '
      display: inline-block
      width: 32px
      height: 32px
      background-size: contain
      margin-right: 10px
      margin-top: -8px
      vertical-align: middle
      @media screen and (max-width: 959px)
        display: block
        width: 80px
        height: 80px
        margin: 0 auto 20px
        border-radius: 16px
        background: url('../static/wallet_logo.jpg') no-repeat
        background-size: contain
.btn-mcashlight
  color: #fff !important
  background: #1fa8a4 linear-gradient(176deg,#127daf,#107da5 6%,#097e7e 35%,#047f62 61%,#017f51 83%,#007f4b)!important
  border: 1px solid #195446!important
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.25)!important
  margin: 40px 0 10px
  width: 100%!important
  @media screen and (max-width: 800px)
    max-width: 216px!important
</style>
