<template>
  <div>
    <v-app-bar
      :clipped-left="true"
      height="74"
      fixed
      app class="white c-app-bar"
    >
      <div class="d-flex">
        <v-toolbar-title class="d-flex align-center logo">
          <nuxt-link to="/wallets"><img src="/logo.png" alt="vault"></nuxt-link>
        </v-toolbar-title>
        <v-toolbar-items class="ml-12 hidden-mobile c-toolbar">
          <v-tabs height="74" class="tab-disable-overflowing">
            <v-tab
              class="font-weight-bold text--gray-dark height-header text-capitalize"
              :transition="false"
              :reverse-transition="false"
              :ripple="false"
              nuxt to="/wallets"
            >
              Wallets
            </v-tab>
            <v-tab
              class="font-weight-bold text--gray-dark height-header text-capitalize"
              :transition="false"
              :reverse-transition="false"
              :ripple="false"
              nuxt to="/transactions"
              style="width: 136px"
            >
              Transactions
            </v-tab>
            <v-tab
              class="font-weight-bold text--gray-dark height-header text-capitalize"
              :transition="false"
              :reverse-transition="false"
              :ripple="false"
              nuxt to="/address-book"
            >
              Address Book
            </v-tab>
            <v-tab
              class="font-weight-bold text--gray-dark height-header text-capitalize"
              :transition="false"
              :reverse-transition="false"
              :ripple="false"
              nuxt to="/settings"
              style="width: 99px"
            >
              Settings
            </v-tab>
          </v-tabs>
        </v-toolbar-items>
      </div>
      <v-spacer />
      <v-toolbar-items
        class="toolbar-wallet hidden-mobile"
      >
        <div class="d-flex justify-center align-center">
          <template v-if="addressMcash">
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-btn
                  class="text--blue btn-select-wallet justify-start text-capitalize"
                  text
                  v-on="on"
                >
                  Account: {{ shortAddressWallet }} <v-icon>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="item in listAddresses"
                  :key="item.text"
                  class="hover-action"
                  :class="{ 'item-seleted' : selectedWalletAddress === item.text }"
                >
                  <v-list-item-title class="subtitle-2" @click="selectAccount(item.text)">{{ item.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>

            <div class="balance-wallet px-2">
              Balance: {{ balanceMcash || 0 }} MCASH
            </div>
            <!-- <div class='nonce-wallet px-2'>None: 12</div> -->
          </template>
          <div class="network-wallet px-2 text-capitalize">{{ networkMcash.type }}</div>

          <template v-if="enabledMcash">
            <template v-if="isConnected">
              <div class="status-wallet pl-2">Online<span class="status online" /></div>
            </template>
            <template v-else>
              <div class="status-wallet pl-2">Offline<span class="status" /></div>
            </template>
            <template v-if="!addressMcash">
              <v-btn
                class="text--blue text-capitalize"
                text @click="openDialogRequiredMcash"
              >
                Unlock Mcashlight
              </v-btn>
            </template>
          </template>
          <template v-else>
            <v-progress-circular
              indeterminate
              color="primary"
            />
          </template>
        </div>
      </v-toolbar-items>
      <v-toolbar-items class="hidden-desktop">
        <v-app-bar-nav-icon class="pr-0" color="#3769BE" @click.stop="openNavDrawer = !openNavDrawer" />
      </v-toolbar-items>
    </v-app-bar>
    <!--  -->
    <v-navigation-drawer
      v-model="openNavDrawer"
      right
      temporary
      fixed
      width="250"
    >
      <div>
        <v-toolbar-items
          class="toolbar-wallet mobile pt-6 pl-2"
        >
          <div class="d-flex justify-center flex-column">
            <template v-if="addressMcash">
              <v-menu offset-y>
                <template v-slot:activator="{ on }">
                  <v-btn
                    class="text--blue btn-select-wallet justify-start text-capitalize mb-2"
                    text
                    v-on="on"
                  >
                    Account: {{ shortAddressWallet }} <v-icon>mdi-menu-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="item in listAddresses"
                    :key="item.text"
                    class="hover-action"
                    :class="{ 'item-seleted' : selectedWalletAddress === item.text }"
                  >
                    <v-list-item-title class="subtitle-2" @click="selectAccount(item.text)">{{ item.text }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

              <div class="balance-wallet px-2">
                Balance: {{ balanceMcash || 0 }} MCASH
              </div>
              <!-- <div class='nonce-wallet px-2'>None: 12</div> -->
            </template>
            <div class="network-wallet px-2 text-capitalize">{{ networkMcash.type }}</div>
            <template v-if="isConnected">
              <div class="status-wallet pl-2">Online<span class="status online" /></div>
            </template>
            <template v-else>
              <div class="status-wallet pl-2">Offline<span class="status" /></div>
            </template>
            <template v-if="enabledMcash">
              <v-btn
                v-if="!addressMcash"
                class="text--blue text-capitalize pl-8"
                text @click="openDialogRequiredMcash"
              >
                Unlock Mcashlight
              </v-btn>
            </template>
            <template v-else>
              <v-progress-circular
                indeterminate
                color="primary"
              />
            </template>
          </div>
        </v-toolbar-items>
        <v-list class="nav-mobile">
          <v-list-item
            v-for="item in listNav"
            :key="item.text"
          >
            <nuxt-link :to="'/' + item.value">{{ item.text }}</nuxt-link>
          </v-list-item>
        </v-list>
      </div>
    </v-navigation-drawer>

    <dialog-mcash-wallets :value="dialogMcashWallets" @close="dialogMcashWallets = false" />
    <dialog-policies-and-terms :value="dialogGdprTermsAccepted" @close="dialogGdprTermsAccepted = false" />
    <dialog-select-mcash-wallet :value="dialogSelectMcashWallet" @close="dialogSelectMcashWallet = false" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CommunicationBus from '../services/CommunicationBus'
import Transaction from '../services/Transaction'
import McashWebService from '../services/McashWebService'
import Wallet from '../services/Wallet'
import Common from '../services/Common'
import Config from '../services/Config'
import { txDefaultOrig, txDefault, loadConfiguration } from '../config'
import DialogPoliciesAndTerms from './modals/DialogPoliciesAndTerms'
import DialogSelectMcashWallet from './modals/DialogSelectMcashWallet'
import DialogMcashWallets from './modals/DialogMcashWallets'
import { shortAddress } from '../utils/helper'

export default {
  name: 'Toolbar',
  components: {
    DialogPoliciesAndTerms,
    DialogSelectMcashWallet,
    DialogMcashWallets
  },
  data () {
    return {
      openNavDrawer: false,
      mcashchain: null,
      paramsPromise: null,
      mcashwebProviderName: null,
      dialogGdprTermsAccepted: null,
      dialogMcashWallets: null,
      dialogSelectMcashWallet: null,
      listNav: [
        { text: 'Wallets', value: 'wallets', slug: 'wallets' },
        { text: 'Transactions', value: 'transactions', slug: 'transactions' },
        { text: 'Address Book', value: 'address-book', slug: 'address-book' },
        { text: 'Settings', value: 'settings', slug: 'settings' }
      ],
      selectedWalletAddress: null,
      listAddresses: [
        { text: 'M9rTkPdCWkmox9jocbPsTBeKvr9U5YivFE' }
      ],
      gdprTermsAccepted: null
    }
  },
  computed: {
    ...mapGetters('mcashStore', [
      'balanceMcash',
      'addressMcash',
      'networkMcash',
      'enabledMcash'
    ]),
    ...mapGetters('connectionStore', [
      'isConnected'
    ]),
    shortAddressWallet () {
      return shortAddress(this.addressMcash)
    },
    onUpdateConfig () {
      return Config.updates
    }
  },
  watch: {
    // Reload config when it changes
    onUpdateConfig (val) {
      Config.getUserConfiguration()
    }
  },
  beforeMount () {
    this.gdprTermsAccepted = localStorage.getItem('gdprTermsAccepted')
    this.startup()
  },
  beforeDestroy () {
    // CommunicationBus.stopInterval('interval')
    // CommunicationBus.stopInterval('termsInterval')
  },
  mounted () {
    this.checkTermsAccepted()
    this.selectedWalletAddress = this.addressMcash || 'M9rTkPdCWkmox9jocbPsTBeKvr9U5YivFE'
  },
  methods: {
    ...mapActions('connectionStore', [
      'updateConnectionStatus'
    ]),
    ...mapActions('notificationStore', [
      'showSuccessNotification'
    ]),
    ...mapActions('mcashStore', [
      'openDialogRequiredMcash',
      'onEnabledMcashWebService',
      'onGetMcashchain',
      'getSyncAddressMcash'
    ]),
    /**
     * Initialize mcashweb
    */
    async startup () {
      try {
        const updateInfoIdx = CommunicationBus.addFn(this.updateInfo, 'updateInfo')
        const updateConnStatusIdx = CommunicationBus.addFn(this.updateConnectionStatus, 'updateConnectionStatus')
        const checkReceiptsIdx = CommunicationBus.addFn(Transaction.checkReceipts, 'checkReceipts')

        await this.onEnabledMcashWebService()
        /**
       * Lookup connection status
       * Check connectivity first on page loading
       * and then at time interval
       */
        CommunicationBus.startInterval(updateConnStatusIdx, txDefault.connectionChecker.checkInterval)
        this.updateConnectionStatus()

        this.mcashwebProviderName = txDefault.wallet
        await this.updateInfo()
        // Start Tx receipts checker
        CommunicationBus.startInterval(checkReceiptsIdx, txDefault.transactionChecker.checkInterval)

        const chooseWeb3ProviderShown = Config.getConfiguration('chooseWeb3ProviderShown')

        const addressWallet = await this.getSyncAddressMcash()

        if (this.gdprTermsAccepted && !chooseWeb3ProviderShown && Common.isElectron) {
        // show selection modal
          this.dialogSelectMcashWallet = true
        } else if (this.gdprTermsAccepted && !Common.isElectron && !addressWallet && txDefault.wallet !== 'ledger' && txDefault.wallet !== 'lightwallet') {
        // Do lookup on regular interval
          CommunicationBus.startInterval(updateInfoIdx, txDefault.accountsChecker.checkInterval)

          this.dialogMcashWallets = true
        } else {
        // Do lookup on regular interval
          CommunicationBus.startInterval(updateInfoIdx, txDefault.accountsChecker.checkInterval)
        }

        this.onGetMcashchain()
      } catch (error) {
        console.log('%c startup-toolbar', 'background: #009900; color: #fff', error)
      }
    },
    updateInfo () {
      /**
       * Setup Mcashchain infos
       */
      Transaction.getMcashchain()
        .then(data => {
          this.mcashchain = data
          txDefaultOrig.walletFactoryAddress = data.walletFactoryAddress
          loadConfiguration() // config.js
        })

      // init params
      this.paramsPromise = Wallet.initParams()
        .then(() => {
          this.loggedIn = !Common.isElectron ? (McashWebService.coinbase !== undefined && McashWebService.coinbase !== null) : true
          this.coinbase = McashWebService.coinbase
          this.balance = Wallet.balance
          this.paramsPromise = null

          if (!Common.isElectron) {
            this.accounts = McashWebService.accounts
          } else {
            // Retrieves accounts from localStorage, only if we're using the lightwallet
            if (txDefault.wallet === 'lightwallet' && Config.getConfiguration('accounts')) {
              this.accounts = Config.getConfiguration('accounts').map(function (account) {
                return account.address
              })
            } else {
              const accounts = McashWebService.accounts
              this.accounts = accounts || []
            }
          }
        })
        .catch(error => {
          if (txDefault.wallet === 'ledger') {
            this.loggedIn = true
            this.accounts = McashWebService.accounts
            this.coinbase = McashWebService.coinbase
            this.paramsPromise = null
          } else if (txDefault.wallet === 'lightwallet') {
            // Retrieves accounts from localStorage, cannot get them from the injected web3 as we
            // are offline
            if (Config.getConfiguration('accounts')) {
              this.accounts = Config.getConfiguration('accounts').map(function (account) {
                return account.address
              })
              this.coinbase = McashWebService.coinbase || this.accounts[0]
              this.loggedIn = true
            } else {
              this.loggedIn = false
            }
          } else {
            const syncErrorShown = Config.getConfiguration('syncErrorShown')
            if (!syncErrorShown) {
              // Utils.dangerAlert(error)
              console.error('initParams:', error)
              Config.setConfiguration('syncErrorShown', true)
            }
          }
        })

      return this.paramsPromise
    },
    selectAccount (account) {
      this.selectedWalletAddress = account
      McashWebService.selectAccount(account)
      this.updateInfo()
    },
    checkTermsAccepted () {
      // If not terms acepted, prompt disclaimer
      if (!this.gdprTermsAccepted) {
        this.dialogGdprTermsAccepted = true
      }
    }
  }
}
</script>

<style lang="sass">
@import '../assets/style/theme'

.c-app-bar
  padding: 0 24px
  @media screen and ( max-width: $mobile-max-width )
    padding: 0 0 0 12px
  .c-toolbar
    height: 74px
  .logo
    min-width: 102px
    @media screen and ( max-width: 450px )
      min-width: 90px
    img
      height: 44px
      width: auto
      vertical-align: middle
      @media screen and ( max-width: 450px )
         height: 36px
.nav-mobile
  a
    color: $color-primary
    font-weight: 700
    text-decoration: none
.nav-mobile::before
  position: absolute
  left: 50%
  transform: translateX(-50%)
  content: ''
  display: inline-block
  height: 1px
  width: 150px
  border-top: 1px solid #343434

.toolbar-wallet
  display: flex
  justify-content: flex-start
  &.desktop
    font-size: 14px
    line-height: 21px
  &.mobile
    font-size: 16px
    line-height: 38px
  .status-wallet
    span.status
      height: 10px
      width: 10px
      background: #f01
      border-radius: 50%
      display: inline-block
      margin-left: 5px
      &.online
        background: #63a924
  .balance-wallet,.network-wallet,.nonce-wallet,.status-wallet
    white-space: nowrap
    color: #aaaaaa
    font-weight: bold
    font-size: 14px

  .btn-select-wallet
    padding: 0 8px !important
    font-weight: 700
    height: 20px !important
    @media screen and ( min-width: 1700px )
      height: 36px !important
</style>
