<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Add address"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="add-address-input-name" class="label-custom">Name</label>
            <v-text-field
              id="add-address-input-name"
              v-model="book.name"
              solo flat outlined dense
              :rules="nameRules"
            />
          </div>
          <div class="mb-4 my-input">
            <label for="add-address-input-address" class="label-custom">Address</label>
            <v-text-field
              id="add-address-input-address"
              v-model="book.address"
              solo flat outlined dense
              :rules="addressRules"
            />
          </div>
          <div class="text-center red--text">
            <span>{{ errorSubmit }}</span>
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="clickSubmit">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import McashWebService from '../../services/McashWebService'
import Wallet from '../../services/Wallet'
import Contract from '../../services/Contract'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    book: {
      name: '',
      address: '',
      type: ''
    },
    errorSubmit: '',
    nameRules: [
      v => !!v || 'Name is required'
    ],
    addressRules: [
      v => !!v || 'Address is required'
    ]
  }),
  methods: {
    ...mapActions('bookStore', [
      'addToBook'
    ]),
    closeDialog () {
      this.$refs.form.reset()
      this.$emit('close')
    },
    clickSubmit () {
      if (this.$refs.form.validate()) {
        this.ok()
      }
    },
    /**
     * Execute `addAddress` flow
     */
    async ok () {
      // Check whether it is a contract, a token or a EOA
      let checksumAddress
      try {
        checksumAddress = McashWebService.toChecksumAddress(this.book.address)
      } catch (error) {
        // Utils.dangerAlert(error)
        // TODO: dangerAlert
        console.log('%c error...', 'background: #009900; color: #fff', error)
      }

      if (!McashWebService.isAddress(this.book.address)) {
        // Show alert
        this.errorSubmit = 'Invalid Mcashchain Address'
        return
      }

      this.book.address = checksumAddress

      try {
        const contractData = Contract.getContract(this.book.address)
        if (await Contract.isContractAddress(this.book.address, contractData)) {
          const detectType = async () => {
            const { bytecode } = contractData
            let type = ''
            if (!bytecode) {
              type = Contract.types.eoa
            } else if (bytecode.indexOf('18160ddd') !== -1) {
              type = Contract.types.token
            } else {
              type = Contract.types.contract
            }
            this.book.type = type
            this.submitAdd()
          }
          // Get multisig instance from specified address
          const multisigInstance = McashWebService.mcashWeb.contract(Wallet.json.multiSigDailyLimit.abi, this.book.address)
          // Look for MAX_OWNER_COUNT property in Multisig contract,
          // it will be > 0 if the address corresponds to a real Multisig instance
          multisigInstance.MAX_OWNER_COUNT().call()
            .then(async count => {
              if (count > 0) {
                // it is a multisig
                this.book.type = Contract.types.multisig
                this.submitAdd()
                return
              }
              detectType()
            })
            .catch(() => {
              detectType()
            })
        } else {
          this.book.type = Contract.types.eoa
          this.submitAdd()
        }
      } catch (e) {
        // do nothing
        console.error(e)
      }
    },
    async submitAdd () {
      await this.addToBook(Object.assign({}, this.book))
      this.closeDialog()
    },
    cancel () {
      this.closeDialog()
    }
  }
}
</script>
