<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Remove address from book"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <div class="my-input">
          <label for="remove-address-input-name" class="label-custom">Name</label>
          <v-text-field
            id="remove-address-input-name"
            solo flat outlined dense disabled
            :value="book.name"
          />
        </div>
        <div class="my-input">
          <label for="add-address-input-address" class="label-custom">Address</label>
          <v-text-field
            id="add-address-input-address"
            solo flat outlined dense disabled
            :value="book.address"
          />
        </div>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="hanldeRemoveAddressBook">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    book: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapActions('bookStore', [
      'onRemoveAddressFromBook'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    hanldeRemoveAddressBook () {
      this.onRemoveAddressFromBook(this.book.address)
      this.closeDialog()
    }
  }
}
</script>
