<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Edit address book item"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form ref="form" lazy-validation>
          <div class="my-input">
            <label for="edit-address-input-name" class="label-custom">Name</label>
            <v-text-field
              id="edit-address-input-name"
              v-model="bookName"
              solo flat outlined dense
              :rules="nameRules"
            />
          </div>
          <div class="my-input">
            <label for="add-address-input-address" class="label-custom">Address</label>
            <v-text-field
              id="add-address-input-address"
              :value="book.address"
              solo flat outlined dense disabled
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleEditAddressBook">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    book: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    bookName: '',
    bookAddress: '',
    nameRules: [
      v => !!v || 'Name is required'
    ]
  }),
  watch: {
    value (newVal) {
      if (newVal) {
        this.bookName = this.book.name
      }
    }
  },
  methods: {
    ...mapActions('bookStore', [
      'onEditAddressBook'
    ]),
    closeDialog () {
      this.$emit('close', false)
      this.bookName = ''
      this.$refs.form.resetValidation()
    },
    handleEditAddressBook () {
      if (this.$refs.form.validate()) {
        this.onEditAddressBook(Object.assign({}, this.book, { name: this.bookName }))
        this.closeDialog()
      }
    }
  }
}
</script>
