<template>
  <div class="send-multisig-transaction">
    <c-dialog
      :width="700"
      :value="value"
      title="Send transaction"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="send-transaction-input-destination" class="label-custom">Destination</label>
            <v-btn small depressed icon @click="openDialogBrowseAddressBook"><v-icon>mdi-book-search</v-icon></v-btn>
            <v-text-field
              id="send-transaction-input-destination"
              solo flat
              outlined dense
            />
          </div>
          <div class="my-input">
            <label for="send-transaction-input-contract" class="label-custom">Contract name (optional)</label>
            <v-text-field
              id="send-transaction-input-contract"
              solo flat
              outlined dense
            />
          </div>
          <div class="my-input">
            <label for="send-transaction-input-amount" class="label-custom">Amount (MCASH)</label>
            <v-text-field
              id="send-transaction-input-amount"
              solo flat
              outlined dense
            />
          </div>
          <div class="mb-4 my-input">
            <label for="send-transaction-input-abi" class="label-custom">ABI string</label>
            <v-text-field
              id="send-transaction-input-abi"
              solo flat
              outlined dense
            />
          </div>
          <v-select
            solo flat
            background-color="#D7E1F2"
            label="Method"
          />
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue" @click="handleSendMultisigTransaction">Send multisig transaction</v-btn>
      </template>
    </c-dialog>
    <DialogBrowseAddressBook :value="dialogBrowseAddressBook" @close="closeDialogBrowseAddressBook" />
  </div>
</template>

<script>
import DialogBrowseAddressBook from '../BrowseAddressBook'

export default {
  components: { DialogBrowseAddressBook },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    open: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dialogBrowseAddressBook: null
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    handleSendMultisigTransaction () {
      this.closeDialog()
    },
    closeDialogBrowseAddressBook () {
      this.dialogBrowseAddressBook = false
    },
    openDialogBrowseAddressBook () {
      this.dialogBrowseAddressBook = true
    }
  }
}
</script>
