<template>
  <div class="add-address">
    <c-dialog
      :value="value"
      title="Edit owner"
      :persistent="false"
      width="400"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="mb-4 my-input">
            <label for="edit-owner-input-name" class="label-custom">Name</label>
            <v-text-field id="edit-owner-input-name" solo flat outlined dense />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn class="btn--blue">OK</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    }
  }
}
</script>
