<template>
  <div class="add-tokens">
    <c-dialog
      :value="value"
      :title="getTitle"
      :persistent="false"
      @close="closeDialog"
    >
      <template v-slot:content>
        <v-form>
          <div class="my-input">
            <label for="edit-token-input-address" class="label-custom">Address</label>
            <v-text-field
              id="edit-token-input-address"
              :value="editToken.address" solo flat outlined dense
              :disabled="getDisabledInput('address')"
              @input="onInputAddress"
              @change="updateInfo"
            />
          </div>
          <div class="my-input">
            <label for="edit-token-input-name" class="label-custom">Name</label>
            <v-text-field
              id="edit-token-input-name"
              v-model="editToken.name"
              solo flat outlined dense :disabled="getDisabledInput('name')"
            />
          </div>
          <div class="my-input">
            <label for="edit-token-input-symbol" class="label-custom">Symbol</label>
            <v-text-field
              id="edit-token-input-symbol"
              v-model="editToken.symbol"
              solo flat outlined dense :disabled="getDisabledInput('symbol')"
            />
          </div>
          <div class="mb-4 my-input">
            <label for="edit-token-input-decimals" class="label-custom">Decimals</label>
            <v-text-field
              id="edit-token-input-decimals"
              v-model.number="editToken.decimals"
              type="number"
              solo flat outlined dense :disabled="getDisabledInput('decimals')"
            />
          </div>
        </v-form>
      </template>
      <template v-slot:actions>
        <v-spacer />
        <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
        <v-btn v-disabled-if-invalid-address="editToken.address" class="btn--blue" @click="handleAction">Ok</v-btn>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import McashWebService from '../../services/McashWebService'
import Wallet from '../../services/Wallet'
import Token from '../../services/Token'

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      required: true
    },
    token: {
      type: Object,
      default: function () {
        return {
          address: null,
          name: null,
          symbol: null,
          decimals: null
        }
      }
    }
  },
  data () {
    return {
      toto: this.token,
      editToken: {
        address: null,
        name: null,
        symbol: null,
        decimals: null
      }
    }
  },
  computed: {
    ...mapGetters('walletDetailStore', [
      'wallet'
    ]),
    getTitle () {
      switch (this.type) {
        case 'add':
          return 'Add Token'
        case 'edit':
          return 'Edit Token'
        case 'remove':
          return 'Remove Token'
        default:
          return ''
      }
    }
  },
  watch: {
    token (val) {
      this.editToken = JSON.parse(JSON.stringify(this.token))
    }
  },
  methods: {
    ...mapActions('walletDetailStore', [
      'onSetWallet'
    ]),
    closeDialog () {
      this.$emit('close', false)
    },
    handleAction () {
      switch (this.type) {
        case 'remove':
          this.removeToken()
          break
        case 'edit':
          this.editOrCreateToken()
          break
        case 'add':
          this.editOrCreateToken()
      }
    },
    getDisabledInput (val) {
      switch (this.type) {
        case 'remove':
          return true
        case 'edit':
          return val === 'address'
        case 'add':
          return val === 'address' ? false : !this.editToken.address
        default:
          return true
      }
    },
    editOrCreateToken () {
      this.editToken.address = McashWebService.toChecksumAddress(this.editToken.address)
      const walletCopy = JSON.parse(JSON.stringify(this.wallet))
      walletCopy.tokens[this.editToken.address] = this.editToken
      Wallet.updateWallet(walletCopy)
      this.onSetWallet(walletCopy)
      this.closeDialog()
    },
    removeToken () {
      const walletCopy = JSON.parse(JSON.stringify(this.wallet))
      delete walletCopy.tokens[this.editToken.address]
      if (!Object.keys(walletCopy.tokens).length) {
        walletCopy.tokens = {}
      }
      Wallet.updateWallet(walletCopy)
      this.onSetWallet(walletCopy)
      this.closeDialog()
    },
    onInputAddress (address) {
      this.editToken.address = address
    },
    updateInfo (address) {
      Token.name(this.editToken.address)
        .then(name => { this.editToken.name = name })
        .catch(() => { this.editToken.name = null })
      Token.symbol(this.editToken.address)
        .then(symbol => { this.editToken.symbol = symbol })
        .catch(() => { this.editToken.symbol = null })
      Token.decimals(this.editToken.address)
        .then(decimals => { this.editToken.decimals = decimals })
        .catch(() => { this.editToken.decimals = null })
    }
  }
}
</script>
