
<template>
  <div class="safe-multisig-migration">
    <v-dialog
      :width="900"
      :value="value"
      :persistent="persistent"
      @click:outside="clickOutside()"
    >
      <v-card>
        <v-card-title><div class="headline font-weight-medium">Gnosis Safe Vault is like Vault but better!</div></v-card-title>
        <v-card-text class="border-top">
          <div class="py-4">
            <p>Gnosis Safe Vault is a successor to the Vault Wallet. Migrate your old Vault and enjoy new benefits:</p>
            <div class="d-flex justify-space-between">
              <ul>
                <li>
                  <div class="title font-weight-bold">Future Proof</div>
                  <div>The upgradable and modular design allows you to be ready for future use-cases and asset-types</div>
                </li>
                <li>
                  <div class="title font-weight-bold">Formally Verified</div>
                  <div>While our code is always audited, we've gone one step further and formally verified the Gnosis Safe smart contracts</div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="title font-weight-bold">DeFi-Compatible</div>
                  <div>You will soon be able to interact with various protocols right from the Safe Vault interface</div>
                </li>
                <li>
                  <div class="title font-weight-bold">User Experience</div>
                  <div>Interacting with a Multisignature Wallet has never been easier</div>
                </li>
              </ul>
            </div>
          </div>

          <div class="safe-upgrading">
            <div class="headline font-weight-medium py-3">Upgrading couldn't be easier:</div>
            <ol class="safe-upgrading__list">
              <li>
                <div class="number-list">1</div>
                <div class="pl-2">
                  Click the button below to create a new Safe.
                  The owner and signature policies of your existing Vault will be applied to it automatically.
                </div>
              </li>
              <li>
                <span class="number-list">2</span>
                <div class="pl-2">
                  Try out the new interface and learn about the many benefits.
                </div>
              </li>
              <li>
                <span class="number-list">3</span>
                <div class="pl-2">
                  As soon as you feel comfortable, start moving funds to your new Safe.
                  <a href="#">read more</a>
                </div>
              </li>
            </ol>
          </div>
          <div class="text-center py-4">
            <v-btn class="btn--blue" large tile><span class="title">Create new Safe</span></v-btn>
          </div>
          <div>Questions? <a href="mailto:safe@gnosis.io">Get in touch!</a></div>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <div class="d-flex align-center">
            <v-checkbox dense />
            <span class="body-2">Don't show this again</span>
            <v-btn class="btn--red ml-2" tile @click="closeDialog">Dismiss</v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    persistent: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    clickOutside () {
      if (!this.persistent) {
        this.closeDialog()
      }
    }
  }
}
</script>
<style lang="sass">
  .safe-upgrading
    ol
      padding-left: 0
      list-style: none
      counter-reset: my-awesome-counter
      li
        line-height: 30px
        display: flex
        align-content: center
        padding: 4px 0
        .number-list
          margin-right: 8px
          color: #dcdde1
          height: 30px
          flex-basis: 30px
          flex-grow: 0
          flex-shrink: 0
          font-size: 18px
          line-height: 30px
          text-align: center
          background-color: #487eb0
          border-radius: 50%
          font-weight: 500
</style>
