<template>
  <div class="reset-settings">
    <v-dialog
      :value="value"
      :title="title"
      :persistent="false"
      width="500"
      @click:outside="clickOutside()"
    >
      <v-card class="c-dialog-card">
        <v-card-title
          class="title"
          primary-title
        >
          <div class="content-title">{{ title || '' }}</div>
        </v-card-title>

        <v-card-actions>
          <v-spacer />
          <v-btn class="btn--red" @click="closeDialog">Cancel</v-btn>
          <v-btn class="btn--blue" @click="openDialogConfigureGas">Send Transaction</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <dialog-configure-gas :value="dialogConfigureGas" @close="closeDialogConfigureGas" />
  </div>
</template>

<script>
import DialogConfigureGas from '../modals/DialogConfigureGas'

export default {
  components: { DialogConfigureGas },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    title: {
      type: [String],
      default: ''
    }
  },
  data () {
    return {
      dialogConfigureGas: null
    }
  },
  methods: {
    closeDialog () {
      this.$emit('close', false)
    },
    clickOutside () {
      this.closeDialog()
    },
    openDialogConfigureGas () {
      this.dialogConfigureGas = true
    },
    closeDialogConfigureGas () {
      this.closeDialog()
      this.dialogConfigureGas = false
    }
  }
}
</script>
