<template>
  <div class="panel-expand elevation-4">
    <div class="panel-expand__head flex-column flex-sm-row align-start align-sm-center">
      <div class="panel-expand__title title-tabel">Multisig transactions</div>
      <div class="panel-expand__actions">
        <v-btn class="btn--blue mt-1" depressed tile @click="openDialogSendMultisigTransaction">Add</v-btn>
        <v-select
          v-model="selectedFilter"
          class="select-filter ml-2"
          :items="itemsSelectFilter" dark
          dense hide-details
          background-color="#3769BE"
          height="36px"
        />
      </div>
    </div>
    <v-data-table
      :mobile-breakpoint="0"
      :hide-default-header="isMobile"
      :show-expand="isMobile"
      single-expand
      :headers="getHeadersMultisigTransaction"
      :items="itemsMultisig"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      class="my-table"
      @page-count="pageCount = $event"
    >
      <template slot="item.destination" slot-scope="{ item }">
        <v-tooltip bottom color="rgba(24,24,24)">
          <template slot="activator" slot-scope="{ on }">
            <v-btn x-small icon v-on="on" @click="copyToClipboard(address)"><v-icon>mdi-content-copy</v-icon></v-btn>
          </template>
          <span>Copy address</span>
        </v-tooltip>

        {{ item.destination }}
      </template>
      <template slot="item.value" slot-scope="{ item }">
        {{ item.value }} MCASH
      </template>
      <template slot="item.confirmations" slot-scope="{ item }">
        <ul class="pa-2">
          <li v-for="walletConfirm in item.confirmations" :key="walletConfirm.name">
            <div class="d-flex justify-space-between">
              <div>{{ walletConfirm.name }}</div>
              <div v-if="!walletConfirm.confirm">
                <v-btn small depressed tile class="btn--blue" @click="openDialogConfirm">Confirm</v-btn>
              </div>
            </div>
          </li>
        </ul>
      </template>
      <template slot="item.executed" slot-scope="{ item }">
        <div class="d-flex justify-space-between">
          {{ item.executed ? 'Yes' : 'No' }}
          <v-btn small depressed tile class="btn--blue" @click="openDialogExecute()">Executed</v-btn>
        </div>
      </template>
      <template slot="item.expand" slot-scope="{ item }">
        <div>
          <div class="text--gray-dark font-weight-bold">
            <v-tooltip bottom color="rgba(24,24,24)">
              <template slot="activator" slot-scope="{ on }">
                <span v-on="on">
                  {{ item.destination }}
                  <v-btn x-small icon @click="copyToClipboard(address)"><v-icon>mdi-content-copy</v-icon></v-btn>
                </span>
              </template>
              <span>{{ address }}</span>
            </v-tooltip>
          </div>

          <div class="text--blue">
            <small>{{ item.data_subject || '--' }}</small>
          </div>
        </div>
      </template>
      <template slot="expanded-item" slot-scope="{ item }">
        <td colspan="6">
          <div class="d-flex justify-space-between py-2">
            <div class="table-expanded__title grey--text">ID</div>
            <div class="table-expanded__content">{{ item.id }} MCASH</div>
          </div>
          <div class="d-flex justify-space-between py-2">
            <div class="table-expanded__title grey--text">Value</div>
            <div class="table-expanded__content">{{ item.value }}</div>
          </div>
          <div class="d-flex justify-space-between py-2">
            <div class="table-expanded__title grey--text">Data/Subject</div>
            <div class="table-expanded__content text-right">{{ item.data_subject }}</div>
          </div>
          <div>
            <div class="table-expanded__title grey--text">confirmations</div>
            <div class="table-expanded__content">
              <ul class="pt-2 pl-4">
                <li v-for="walletConfirm in item.confirmations" :key="walletConfirm.name" class="d-flex justify-space-between py-1">
                  <div>{{ walletConfirm.name }}</div>
                  <div v-if="walletConfirm.confirm">
                    <v-btn small depressed tile class="btn--blue" width="80" @click="openDialogConfirm()">Confirm</v-btn>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="py-2">
            <div class="table-expanded__title grey--text">executed</div>

            <div class="table-expanded__content d-flex justify-space-between pl-5">
              <div>{{ item.executed ? 'Yes' : 'No' }}</div>
              <v-btn small depressed tile class="btn--blue" width="80" @click="openDialogExecute()">Executed</v-btn>
            </div>
          </div>
        </td>
      </template>
    </v-data-table>

    <dialog-send-multisig-transaction
      :value="dialogSendMultisigTransaction"
      @close="closeDialogSendMultisigTransaction"
    />
    <dialog-confirm-transaction :value="dialogConfirm" :title="titleDialogConfirm" @close="closeDialogConfirm" />
  </div>
</template>

<script>
import DialogSendMultisigTransaction from './DialogSendMultisigTransaction'
import DialogConfirmTransaction from './DialogConfirmTransaction'

export default {
  name: 'MultisigTransactionsPanel',
  components: {
    DialogSendMultisigTransaction,
    DialogConfirmTransaction
  },
  data: () => ({
    dialogSendMultisigTransaction: false,
    headersMultisigTransaction: [
      { text: 'ID', value: 'id', sortable: false },
      { text: 'Destination', value: 'destination', sortable: false },
      { text: 'Value', value: 'value', sortable: false },
      { text: 'Data/Subject', value: 'data_subject', sortable: false },
      { text: 'confirmations', value: 'confirmations', sortable: false },
      { text: 'Executed', value: 'executed', sortable: false }
    ],
    headersMobile: [
      { text: '', value: 'expand', sortable: false },
      { text: '', value: 'data-table-expand', align: 'center' }
    ],
    itemsMultisig: [
      {
        id: 0,
        destination: 'My account',
        value: 20,
        data_subject: 'Transfer 0.02 MCASH to Address_02',
        confirmations: [
          { name: 'My account', confirm: false },
          { name: 'Account 2', confirm: true }
        ],
        executed: false
      },
      {
        id: 1,
        destination: 'My account',
        value: 20,
        data_subject: 'Transfer 0.02 MCASH to Address_02',
        confirmations: [
          { name: 'My account', confirm: true },
          { name: 'Account 2', confirm: true }
        ],
        executed: false
      }
    ],
    dialogConfirm: false,
    titleDialogConfirm: null,
    itemsSelectFilter: ['All', 'Pending', 'Executed'],
    selectedFilter: 'All',
    pageCount: 0,
    itemsPerPage: 10,
    page: 0
  }),
  computed: {
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    getHeadersMultisigTransaction () {
      return this.isMobile ? this.headersMobile : this.headersMultisigTransaction
    }
  },
  methods: {
    closeDialogSendMultisigTransaction () {
      this.dialogSendMultisigTransaction = false
    },
    openDialogSendMultisigTransaction () {
      this.dialogSendMultisigTransaction = true
    },
    closeDialogConfirm () {
      this.dialogConfirm = false
    },
    openDialogConfirm (item) {
      this.titleDialogConfirm = 'Confirm transaction'
      this.dialogConfirm = true
    },
    openDialogExecute (item) {
      this.titleDialogConfirm = 'Execute transaction'
      this.dialogConfirm = true
    }
  }
}
</script>
