<template>
  <div class="panel-expand elevation-4">
    <div class="panel-expand__head align-center">
      <div class="panel-expand__title">Owners</div>
      <div class="panel-expand__actions">
        <v-btn v-disabled-if-no-accounts depressed tile class="btn--blue ml-2" @click="openDialogAddOwners">Add</v-btn>
        <v-btn depressed tile class="btn--blue ml-2 pa-0" min-width="40" @click="openOwners = !openOwners">
          <v-icon>{{ openOwners ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
      </div>
    </div>
    <v-data-table
      v-show="openOwners"
      class="my-table"
      :headers="getHeadersOwners"
      :items="ownersItems"
      item-key="address"
      :mobile-breakpoint="10"
      hide-default-footer
      :hide-default-header="$vuetify.breakpoint.smAndDown"
    >
      <template slot="item.name" slot-scope="{ item }">
        <div class="d-flex justify-space-between">
          <div>{{ item.name }}</div>
          <div class="d-flex">
            <v-btn class="btn--blue ml-2" depressed small tile @click="openDialogEditOwner(item)">Edit</v-btn>
            <v-btn
              v-disabled-if-no-accounts
              v-show-hide-by-connectivity="'online'"
              class="btn--blue ml-2" small depressed tile
              @click="openDialogReplaceOwner(item)"
            >
              Replace
            </v-btn>
            <v-btn
              v-show="owners.length !== 1"
              v-disabled-if-no-accounts
              v-show-hide-by-connectivity="'online'"
              class="btn--red ml-2" small depressed tile
              @click="openDialogRemoveOwner(item)"
            >
              Remove
            </v-btn>
          </div>
        </div>
      </template>
      <template v-slot:item.address="{ item }">
        <span>{{ item.address }}</span>
      </template>
      <template slot="item.expand" slot-scope="{ item }">
        <div class="d-flex justify-space-between align-center">
          <div>
            <div class="text--gray-dark font-weight-bold">{{ item.name }}</div>
            <div class="text--blue">
              <small>{{ shortAddress(item.address) || '--' }}</small>
            </div>
          </div>

          <div class="text-right">
            <v-btn class="btn--blue ml-2" depressed small tile @click="openDialogEditOwner(item)">Edit</v-btn>
            <v-btn
              v-disabled-if-no-accounts
              v-show-hide-by-connectivity="'online'"
              class="btn--blue ml-2" small depressed tile
              @click="openDialogReplaceOwner(item)"
            >
              Replace
            </v-btn>
            <v-btn
              v-show="owners.length !== 1"
              v-disabled-if-no-accounts
              v-show-hide-by-connectivity="'online'"
              class="btn--red ml-2" small depressed tile
              @click="openDialogRemoveOwner(item)"
            >
              Remove
            </v-btn>
          </div>
        </div>
      </template>
    </v-data-table>

    <dialog-add-owner :value="dialogAddOwner" @close="closeDialogAddOwners" />
    <dialog-edit-owner :value="dialogEditOwner" @close="closeDialogEditOwner" />
    <dialog-replace-owner :value="dialogReplaceOwner" @close="closeDialogReplaceOwner" />
    <dialog-remove-owner :value="dialogRemoveOwner" @close="closeDialogRemoveOwner" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import DialogAddOwner from './DialogAddOwner'
import DialogEditOwner from './DialogEditOwner'
import DialogReplaceOwner from './DialogReplaceOwner'
import DialogRemoveOwner from './DialogRemoveOwner'

export default {
  name: 'OwnersPanel',
  components: {
    DialogAddOwner,
    DialogEditOwner,
    DialogReplaceOwner,
    DialogRemoveOwner
  },
  data: () => ({
    openOwners: false,
    headersOwners: [
      { text: 'Name', value: 'name', sortable: false },
      { text: 'Address', value: 'address', sortable: false }
    ],
    headersOwnersMobile: [
      { text: '', value: 'expand', sortable: false }
    ],
    dialogAddOwner: null,
    dialogRemoveOwner: null,
    dialogEditOwner: null,
    dialogReplaceOwner: null
  }),
  computed: {
    ...mapGetters('walletDetailStore', [
      'wallet',
      'owners'
    ]),
    getHeadersOwners () {
      return this.isMobile ? this.headersOwnersMobile : this.headersOwners
    },
    ownersItems () {
      return Array.isArray(this.owners) ? this.owners.map(address => ({
        name: this.getOwnerName(address),
        address
      })) : []
    }
  },
  methods: {
    closeDialogAddOwners () {
      this.dialogAddOwner = false
    },
    openDialogAddOwners () {
      this.dialogAddOwner = true
    },
    openDialogRemoveOwner () {
      this.dialogRemoveOwner = true
    },
    closeDialogRemoveOwner () {
      this.dialogRemoveOwner = false
    },
    openDialogEditOwner () {
      this.dialogEditOwner = true
    },
    closeDialogEditOwner () {
      this.dialogEditOwner = false
    },
    openDialogReplaceOwner () {
      this.dialogReplaceOwner = true
    },
    closeDialogReplaceOwner () {
      this.dialogReplaceOwner = false
    },
    getOwnerName (address) {
      if (this.wallet.owners && this.wallet.owners[address]) {
        return this.wallet.owners[address].name
      }
      return ''
    }
  }
}
</script>
