<template>
  <div class="panel-expand elevation-4">
    <div class="panel-expand__head align-center">
      <div class="panel-expand__title title-table">Tokens</div>
      <div class="panel-expand__actions">
        <v-btn depressed tile class="btn--blue ml-2" @click="openDialogAddToken">Add</v-btn>
        <v-btn depressed tile class="btn--blue ml-2 pa-0" min-width="40" @click="openTokens = !openTokens">
          <v-icon>{{ openTokens ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
      </div>
    </div>
    <v-data-table
      v-show="openTokens"
      class="my-table"
      :headers="getHeadersTokens"
      :items="tokensItems"
      :show-expand="isMobile"
      single-expand
      item-key="address"
      :mobile-breakpoint="0"
      :hide-default-header="isMobile"
      hide-default-footer
    >
      <template slot="no-data">
        <p class="subtitle-1 mt-6">
          <span class="text--gray-dark">No tokens. Add an ERC20 token</span>
          <span class="text--blue hover-action" @click="openDialogAddToken">now.</span>
        </p>
      </template>
      <template slot="item.name" slot-scope="{ item }">
        <div class="d-flex justify-space-between">
          <div>{{ item.name }}</div>
          <div class="d-flex">
            <v-btn class="btn--blue ml-2" depressed small tile @click="openDialogEditToken(item)">Edit</v-btn>
            <v-btn class="btn--red ml-2" small depressed tile @click="openDialogRemoveToken(item)">remove</v-btn>
          </div>
        </div>
      </template>
      <template slot="item.multisig_balance" slot-scope="{ item }">
        <div class="d-flex justify-space-between">
          <div>{{ item | token }}</div>
          <div class="d-flex">
            <v-btn
              v-disabled-if-no-accounts
              class="btn--blue mx-2" depressed small tile
              @click="openDialogDeposit(item)"
            >
              Deposit
            </v-btn>
            <v-btn
              v-disabled-if-no-accounts
              class="btn--blue" small depressed tile
              @click="openDialogWithdraw(item)"
            >
              Withdraw
            </v-btn>
          </div>
        </div>
      </template>
      <template slot="item.account_balance" slot-scope="{ item }">
        <div>{{ userTokens[item.address] | token }}</div>
      </template>
      <template slot="item.expand" slot-scope="{ item }">
        <div class="d-flex justify-space-between">
          <div>{{ item.name }}</div>
          <div class="d-flex">
            <v-btn class="btn--blue ml-2" depressed small tile @click="openDialogEditToken(item)">Edit</v-btn>
            <v-btn class="btn--red ml-2" small depressed tile @click="openDialogRemoveToken(item)">remove</v-btn>
          </div>
        </div>
      </template>
      <template slot="expanded-item" slot-scope="{ item }">
        <td colspan="6">
          <div class="d-flex justify-space-between py-2">
            <div>
              <div class="table-expanded__title grey--text">Multisig balance</div>
              <div class="table-expanded__content">{{ item.balance || 0 }} MCASH</div>
            </div>
            <div class="text-right">
              <v-btn class="btn--blue" depressed small width="86" tile @click="openDialogDeposit(item)">Deposit</v-btn>
              <v-btn class="btn--blue ml-2 my-2" small depressed tile width="86" @click="openDialogWithdraw(item)">Withdraw</v-btn>
            </div>
          </div>
          <div class="d-flex justify-space-between py-2">
            <div>
              <div class="table-expanded__title grey--text">Account balance</div>
              <div class="table-expanded__content">{{ userTokens[item]|| 0 }}</div>
            </div>
          </div>
        </td>
      </template>
    </v-data-table>

    <dialog-add-edit-token
      :value="dialogAddEditToken"
      :type="typeDialogToken"
      :token="token"
      @close="closeDialogAddEditToken"
    />
    <dialog-deposit
      :value="dialogDeposit"
      :wallet="wallet"
      :token="token"
      @close="closeDialogDeposit"
      @update-token="updateParams"
    />
    <dialog-withdraw
      :value="dialogWithdraw"
      :wallet="wallet"
      :token="token"
      @close="closeDialogWithdraw"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import DialogAddEditToken from './DialogAddEditToken'
import DialogDeposit from '../modals/DialogDeposit'
import DialogWithdraw from '../modals/DialogWithdraw'
import Wallet from '../../services/Wallet'
import Token from '../../services/Token'

export default {
  name: 'TokensPanel',
  components: {
    DialogDeposit,
    DialogWithdraw,
    DialogAddEditToken
  },
  data: () => ({
    openTokens: false,
    dialogAddEditToken: false,
    typeDialogToken: '',
    headersTokens: [
      { text: 'Name', value: 'name', sortable: false },
      { text: 'Multisig balance', value: 'multisig_balance', sortable: false },
      { text: 'Account balance', value: 'account_balance', sortable: false }
    ],
    tokens: {},
    dialogDeposit: false,
    dialogWithdraw: false,
    token: {
      address: null,
      name: null,
      symbol: null,
      decimals: null
    }
  }),
  computed: {
    ...mapGetters('walletDetailStore', [
      'wallet',
      'userTokens'
    ]),
    ...mapGetters('walletStore', [
      'updates'
    ]),
    ...mapGetters('mcashStore', [
      'addressMcash',
      'mcashLightInitiated'
    ]),
    isMobile () {
      return this.$vuetify.breakpoint.smAndDown
    },
    getHeadersTokens () {
      return this.isMobile ? this.headersMobile : this.headersTokens
    },
    address () {
      return this.$route.params.address
    },
    tokensItems () {
      return this.tokens ? Object.keys(this.tokens).map(token => this.tokens[token]) : []
    }
  },
  watch: {
    updates () {
      this.tokens = Wallet.getAllWallets()[this.address].tokens
    },
    mcashLightInitiated () { // only emitting event if mcashlight initialized first failed
      this.updateParams()
    }
  },
  mounted () {
    this.updateParams()
  },
  methods: {
    ...mapActions('walletDetailStore', [
      'onUpdateUserTokenById',
      'onSetWallet'
    ]),
    ...mapActions('mcashStore', [
      'connectToMcashProvider'
    ]),
    closeDialogAddEditToken () {
      this.dialogAddEditToken = false
    },
    openDialogAddEditToken () {
      this.dialogAddEditToken = true
    },
    openDialogAddToken () {
      this.typeDialogToken = 'add'
      this.token = {
        address: null,
        name: null,
        symbol: null,
        decimals: null
      }
      this.openDialogAddEditToken()
    },
    openDialogEditToken (item) {
      this.typeDialogToken = 'edit'
      this.token = item
      this.openDialogAddEditToken()
    },
    openDialogRemoveToken (item) {
      this.typeDialogToken = 'remove'
      this.token = item
      this.openDialogAddEditToken()
    },
    closeDialogWithdraw () {
      this.dialogWithdraw = false
    },
    closeDialogDeposit () {
      this.dialogDeposit = false
    },
    openDialogWithdraw (item) {
      this.token = item
      this.dialogWithdraw = true
    },
    openDialogDeposit (item) {
      this.token = item
      this.dialogDeposit = true
    },
    async updateParams () {
      // Get token info
      await this.connectToMcashProvider()
      const walletCopy = Wallet.getAllWallets()[this.address]
      const promises = []
      if (Object.keys(walletCopy.tokens).length !== 0 && walletCopy.tokens.constructor === Object) {
        Object.keys(walletCopy.tokens)
          .map((token) => {
            // Get multisig balance
            promises.push(Token.balanceOf(token, this.address)
              .then(balance => {
                if (walletCopy.tokens[token]) {
                  walletCopy.tokens[token].balance = balance._hex
                }
              }))

            // Get account balance
            Token.balanceOf(token, this.addressMcash)
              .then(balance => {
                const userTokenCopy = JSON.parse(JSON.stringify(this.userTokens[token]))
                userTokenCopy.balance = balance._hex
                this.onUpdateUserTokenById({ id: token, value: userTokenCopy })
              })
          })
      }
      Promise.all(promises)
        .then(() => {
          this.tokens = walletCopy.tokens
          this.onSetWallet(walletCopy)
        })
        .catch(() => {})
    }
  }
}
</script>
